<html>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
</head>
<body>
  <div id='pdf-wrapper'>
    <table>
      <thead>
        <tr>
          <th><%=t 'views.warehouses.foremen.report.index' %></th>
          <th><%=t 'views.warehouses.foremen.report.resource.name' %></th>
          <th><%=t 'views.warehouses.foremen.report.resource.mu' %></th>
          <th><%=t 'views.warehouses.foremen.report.amount' %></th>
          <th><%=t 'views.warehouses.foremen.report.price' %></th>
          <th><%=t 'views.warehouses.foremen.report.sum' %></th>
        </tr>
      </thead>
      <tbody>
        <% @resources.each_with_index do |item, idx| %>
          <tr>
            <td><%= idx + 1 %></td>
            <td><%= item.resource.tag %></td>
            <td><%= item.resource.mu %></td>
            <td><%= item.amount %></td>
            <td><%= item.price %></td>
            <td><%= item.sum %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</body>
</html>
