<div class="left">
  <label for="deal_tag"><%=t 'views.transcripts.deal' %>:</label>
  <input type="text" id="deal_tag" size="50"
         data-bind="autocomplete: { source: '/deals.json',
                                    value: 'tag',
                                    bindId: deal }">
</div>
<div class="left">
  <label for="transcript_date_from"><%=t 'views.transcripts.from' %></label>
  <input type="text" id="transcript_date_from"
         data-bind="datepicker: date_from">
</div>
<div class="left">
  <label for="transcript_date_to"><%=t 'views.transcripts.to' %></label>
  <input type="text" id="transcript_date_to"
         data-bind="datepicker: date_to">
</div>
<div class="left">
  <span><%= t 'views.transcripts.mu' %>:</span>
  <input type="radio" id="natural_mu" name="mu" value="natural"
         data-bind="checked: select_mu"><label for="natural_mu">
  <%= t 'views.transcripts.natural' %></label>
  <input type="radio" id="currency_mu" name="mu" value="currency"
         data-bind="checked: select_mu"><label for="currency_mu">
  <%= t 'views.transcripts.currency' %></label>
</div>
<table>
  <thead>
    <tr class="without-border">
      <td colspan="2" data-bind="text:parse_date_from"></td>
      <td data-bind="text:from_debit"></td>
      <td data-bind="text:from_credit"></td>
    </tr>
    <tr>
      <th class=""><%=t 'views.transcripts.date' %></th>
      <th class=""><%=t 'views.transcripts.account' %></th>
      <th class=""><%=t 'views.transcripts.debit' %></th>
      <th class=""><%=t 'views.transcripts.credit' %></th>
    </tr>
  </thead>
  <tfoot class="without-border">
    <tr>
      <td colspan="2"><%=t 'views.transcripts.total_circulation' %></td>
      <td data-bind="text:total_debits"></td>
      <td data-bind="text:total_credits"></td>
    </tr>
    <tr>
      <td colspan="2"><%=t 'views.transcripts.rate_differences' %></td>
      <td data-bind="text:total_debits_diff"></td>
      <td data-bind="text:total_credits_diff"></td>
    </tr>
    <tr>
      <td colspan="2" data-bind="text:parse_date_to"></td>
      <td data-bind="text:to_debit"></td>
      <td data-bind="text:to_credit"></td>
    </tr>
  </tfoot>
  <tbody data-bind="foreach: documents">
  <tr>
    <td data-bind="text: date"></td>
    <td data-bind="text: account"></td>
    <td data-bind="text: debit"></td>
    <td data-bind="text: credit"></td>
  </tr>
  </tbody>
</table>
