<div class="left">
   <span class="form-cell-label">
          <label for="deal_tag"><%=t 'views.transcripts.deal' %>:</label>
        </span>
  <input type="text" id="deal_tag"
         data-bind="dialog: { autoOpen: false,
                                      modal: true,
                                      minWidth: 480,
                                      minHeight: 300,
                                      bind: { id: deal_id, tag: deal_tag }
                                    },
                            dialogId: 'deals_selector',
                            value: deal_tag"/>
</div>
<div class="left">
  <label for="transcript_date_from"><%=t 'views.transcripts.from' %></label>
  <input type="text" id="transcript_date_from"
         data-bind="datepicker:{ value: date_from, maxDate: '+0' }">
</div>
<div class="left">
  <label for="transcript_date_to"><%=t 'views.transcripts.to' %></label>
  <input type="text" id="transcript_date_to"
         data-bind="datepicker:{ value: date_to, maxDate: '+0' }">
</div>
<div class="left clear">
  <span><%= t 'views.transcripts.mu' %>:</span>
  <input type="radio" id="natural_mu" name="mu" value="natural"
         data-bind="checked: mu"><label for="natural_mu">
  <%= t 'views.transcripts.natural' %></label>
  <input type="radio" id="currency_mu" name="mu" value="currency"
         data-bind="checked: mu"><label for="currency_mu">
  <%= t 'views.transcripts.currency' %></label>
</div>
<table class="left">
  <thead>
    <tr class="without-border" data-bind="with: from">
      <td colspan="2" data-bind="text:$parent.parse_date_from"></td>
      <td data-bind=
            "text: type == 'debit' ? ($parent.mu() == 'natural' ? amount() : value()) : '0.0'">
      </td>
      <td data-bind=
            "text: type == 'credit' ? ($parent.mu() == 'natural' ? amount() : value()) : '0.0'">
      </td>
    </tr>
    <tr>
      <th id="day" data-bind="click: sortBy" class="">
        <%=t 'views.transcripts.date' %><span></span>
      </th>
      <th class=""><%=t 'views.transcripts.account' %></th>
      <th class=""><%=t 'views.transcripts.debit' %></th>
      <th class=""><%=t 'views.transcripts.credit' %></th>
    </tr>
  </thead>
  <tfoot class="without-border">
    <tr data-bind="with:totals">
      <td colspan="2"><%=t 'views.transcripts.total_circulation' %></td>
      <td data-bind=
            "text: $parent.mu() == 'natural' ? debit.amount() : debit.value()"></td>
      <td data-bind=
            "text: $parent.mu() == 'natural' ? credit.amount() : credit.value()"></td>
    </tr>
    <tr data-bind="with:totals">
      <td colspan="2"><%=t 'views.transcripts.rate_differences' %></td>
      <td data-bind=
            "text: $parent.mu() == 'natural' ? '' : debit.diff()"></td>
      <td data-bind=
            "text: $parent.mu() == 'natural' ? '' : credit.diff()"></td>
    </tr>
    <tr data-bind="with: to">
      <td colspan="2" data-bind="text:$parent.parse_date_to"></td>
      <td data-bind=
            "text: type() == 'debit' ? ($parent.mu() == 'natural' ? amount() : value()) : '0.0'">
      </td>
      <td data-bind=
            "text: type() == 'credit' ? ($parent.mu() == 'natural' ? amount() : value()) : '0.0'">
      </td>
    </tr>
  </tfoot>
  <tbody data-bind="foreach: documents">
  <tr>
    <td data-bind="text: date, click: $parent.selectTranscript"></td>
    <td data-bind="text: account, click: $parent.selectTranscript"></td>
    <td data-bind=
          "text: type == 'debit' ? ($parent.mu() == 'natural' ? amount : value) : '',
          click: $parent.selectTranscript"></td>
    <td data-bind=
          "text: type == 'credit' ? ($parent.mu() == 'natural' ? amount : value) : '',
          click: $parent.selectTranscript"></td>
  </tr>
  </tbody>
</table>
<%= render :partial => "home/select_dialog", :locals => { :dialog_id => 'deals_selector', :dialog_model => 'dialog_deals', :data_path => 'deals/deals' } %>
