
<label><%=t 'views.allocations.created_at' %></label>
<input type="text" id="filter_created_at" data-bind="value: filter.created"/>
<label><%=t 'views.allocations.foreman' %></label>
<input type="text" id="filter_foreman" data-bind="value: filter.foreman"/>
<% if can?(:reverse, Waybill) && can?(:reverse, Allocation) %>
<label><%=t 'views.allocations.storekeeper' %></label>
<input type="text" id="filter_storekeeper" data-bind="value: filter.storekeeper"/>
<label><%=t 'views.allocations.storekeeper_place' %></label>
<input type="text" id="filter_storekeeper_place" data-bind="value: filter.storekeeper_place"/>
<% end %>
<%= render :partial => "state/filter" %>
<label><%=t 'views.allocations.resource.name' %></label>
<input type="text" id="filter_resource" data-bind="value: filter.resource_tag"/>
