<% content_for :search  do %>
  <label><%=t 'views.allocations.created_at' %></label>
  <input type="text" id="filter_created_at" data-bind="value: filter.created"/>
  <label><%=t 'views.allocations.foreman' %></label>
  <input type="text" id="filter_foreman" data-bind="value: filter.foreman"/>
  <label><%=t 'views.allocations.storekeeper' %></label>
  <input type="text" id="filter_storekeeper" data-bind="value: filter.storekeeper"/>
  <label><%=t 'views.allocations.storekeeper_place' %></label>
  <input type="text" id="filter_storekeeper_place" data-bind="value: filter.storekeeper_place"/>
  <label><%=t 'views.statable.state' %></label>
  <select id="filter_state" data-bind="value: filter.state">
    <option value=""></option>
    <option value="1"><%=t 'views.statable.inwork' %></option>
    <option value="2"><%=t 'views.statable.canceled' %></option>
    <option value="3"><%=t 'views.statable.applied' %></option>
  </select>
  <label><%=t 'views.allocations.resource.name' %></label>
  <input type="text" id="filter_resource" data-bind="value: filter.resource"/>
<% end %>

<table>
  <thead>
    <tr>
      <th></th>
      <th id="created" data-bind="click: sortBy">
        <%=t 'views.allocations.created_at' %><span></span>
      </th>
      <th id="storekeeper" data-bind="click: sortBy">
        <%=t 'views.allocations.storekeeper' %><span></span>
      </th>
      <th id="storekeeper_place" data-bind="click: sortBy">
        <%=t 'views.allocations.storekeeper_place' %><span></span>
      </th>
      <th id="foreman" data-bind="click: sortBy">
        <%=t 'views.allocations.foreman' %><span></span>
      </th>
      <th id="state" data-bind="click: sortBy">
        <%=t 'views.statable.state' %><span></span>
      </th>
    </tr>
  </thead>
  <tbody data-bind="foreach: documents">
    <tr>
      <td class="tree-actions-by-wb" data-bind="click: $parent.expandTree">
        <div class="ui-corner-all ui-state-hover">
          <span class="ui-icon ui-icon-circle-plus"></span>
        </div>
      </td>
      <td data-bind="text: created, click: $parent.show"></td>
      <td data-bind="text: storekeeper, click: $parent.show"></td>
      <td data-bind="text: storekeeper_place, click: $parent.show"></td>
      <td data-bind="text: foreman, click: $parent.show"></td>
      <td data-bind="text: state, click: $parent.show"></td>
    </tr>
    <tr data-bind="attr: {id: 'resource_' + id}, with: subitems">
      <td></td>
      <td colspan="6" class="td-inner-table">
        <div class="paginate">
          <span data-bind="text: range"></span> <%= t('views.home.of') %>
          <span data-bind="text: count"></span>
          <input type="button" value="<" data-bind="click: prev, disable: page() < 2"/>
          <input type="button" class="paginate-right" value=">"
                 data-bind="click: next, disable: page()*per_page() >= count()"/>
        </div>
        <table class="inner-table">
          <thead>
          <tr>
            <th><%=t 'views.allocations.resource.tag' %></th>
            <th><%=t 'views.allocations.resource.mu' %></th>
            <th><%=t 'views.allocations.resource.amount' %></th>
          </tr>
          </thead>
          <tbody data-bind="foreach: documents">
          <tr>
            <td data-bind="text: tag"></td>
            <td data-bind="text: mu"></td>
            <td data-bind="text: amount"></td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
