<form data-bind="validate: { success: save }">
  <div class='actions'>
    <%= render :partial => "home/buttons", :locals => { :editable => true } %>
    <div class='buttons-separator' data-bind='visible: readonly'></div>
    <%= render :partial => "state/buttons", :locals => { :model => Allocation } %>
    <div class='buttons-separator' data-bind='visible: readonly'></div>
    <input type='button' value="<%= t('views.allocations.print') %>"
           data-bind='click: print, visible: readonly'/>
  </div>

  <span id="page-title">
  <!-- ko if: readonly -->
    <%= t('views.allocations.page_title_show') %>
  <!-- /ko -->
  <!-- ko ifnot: readonly -->
    <%= t('views.allocations.page_title_new') %>
  <!-- /ko -->
  </span>

  <%= render 'home/errors' %>

  <fieldset>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="created"><%= t 'views.allocations.created_at' %>:</label>
        </span>
        <span>
          <input type="text" id="created" rule="required"
                 name="<%= t 'views.allocations.created_at' %>"
                 data-bind="datepicker:{ value: object.allocation.created, maxDate: '+0'}, disable: readonly">
        </span>
      </div>
      <!-- ko if: readonly -->
      <div>
        <span class="form-cell-label">
          <label for="state"><%= t 'views.statable.state' %>:</label>
        </span>
        <span>
          <input type="text" id="state" disabled="disabled"
                 data-bind="value: getState(object.allocation.state())">
        </span>
      </div>
      <!-- /ko -->
      <!-- ko ifnot: readonly -->
      <div>
        <span class="form-cell-label">
          <label><%= t 'views.allocations.motion.name' %>:</label>
        </span>
        <span>
          <input type="radio" id="motion-allocation" name="motion" value="0"
                         data-bind="checked: motion"/>
          <label for="motion-allocation">
            <%= t 'views.allocations.motion.allocation' %>
          </label>
          <input type="radio" id="motion-warehouse" name="motion" value="1"
                 data-bind="checked: motion"/>
          <label for="motion-warehouse">
            <%= t 'views.allocations.motion.warehouse' %>
          </label>
        </span>
      </div>
      <!-- /ko -->
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t 'views.allocations.warehouse.name' %></legend>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="warehouses"><%=t 'views.allocations.warehouse.name' %>:</label>
        </span>
        <span>
          <select id="warehouses" rule="required"
                  name="<%=t('views.allocations.warehouse.name')%>"
                  data-bind="options: object.warehouses,
                             optionsCaption: '<%= t('views.allocations.warehouse.select') %>',
                             optionsText: function(item) {
                               return item.tag() +
                                 '(<%= t('views.allocations.warehouse.storekeeper') %>: ' +
                                 item.storekeeper() + ')'
                             },
                             optionsValue: 'id',
                             value: object.allocation.warehouse_id,
                             disable: disable_warehouse"></select>
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>
      <!-- ko if: motion() == '0' -->
      <%= t 'views.allocations.foreman' %>
      <!-- /ko -->
      <!-- ko if: motion() == '1' -->
      <%= t 'views.allocations.warehouse.remote' %>
      <!-- /ko -->
    </legend>
    <div>
        <!-- ko if: motion() == '0' -->
        <div>
          <span class="form-cell-label">
            <label for="foreman_entity"><%= t 'views.allocations.entity' %>:</label>
          </span>
          <span data-bind='with: object.foreman'>
            <input type='text' id='foreman_entity'
                   name='<%= t 'views.allocations.foreman' %>' rule='required'
                   data-bind="autocomplete: {
                                source: '/entities.json',
                                value: 'tag',
                                bind: { id: $parent.object.allocation.foreman_id }
                              }, value: tag, disable: $parent.readonly" />
          </span>
        </div>
        <div>
          <span class="form-cell-label">
            <label for="foreman_place"><%= t 'views.allocations.place' %>:</label>
          </span>
          <span data-bind='with: object.foreman_place'>
            <input type='text' id='foreman_place'
                   name='<%= t 'views.allocations.foreman_place' %>' rule='required'
                   data-bind="value: tag" disabled="disabled" />
          </span>
        </div>
        <!-- /ko -->
        <!-- ko if: motion() == '1' -->
        <div>
          <span class="form-cell-label">
            <label for="remote_warehouses"><%=t 'views.allocations.warehouse.name' %>:</label>
          </span>
          <span>
            <select id="remote_warehouses" rule="required"
                    name="<%=t('views.allocations.warehouse.remote')%>"
                    data-bind="options: remote_warehouses,
                               optionsCaption: '<%= t('views.allocations.warehouse.select') %>',
                               optionsText: function(item) {
                                 return item.tag() +
                                   '(<%= t('views.allocations.warehouse.storekeeper') %>: ' +
                                   item.storekeeper() + ')'
                               },
                               optionsValue: 'id',
                               value: remote_warehouse_id,
                               disable: readonly"></select>
          </span>
        </div>
        <!-- /ko -->
    </div>
  </fieldset>
  <!-- ko if: motion() == '1' -->
  <fieldset>
    <legend><%= t 'views.allocations.freighter' %></legend>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="freighter_entity"><%= t 'views.allocations.freighter_name' %>:</label>
        </span>
        <span data-bind='with: object.foreman'>
          <input type='text' id='freighter_entity'
                 name='<%= t 'views.allocations.freighter' %>' rule='required'
                 data-bind="autocomplete: {
                              source: '/entities.json',
                              value: 'tag',
                              bind: { id: $parent.object.allocation.foreman_id }
                            }, value: tag, disable: $parent.readonly" />
        </span>
      </div>
    </div>
  </fieldset>
  <!-- /ko -->


  <table id="selected-resources">
    <caption><%= t 'views.allocations.selected_resources' %></caption>
    <thead>
    <tr>
      <!-- ko ifnot: readonly -->
      <th class="allocation-actions"></th>
      <!-- /ko -->
      <th class="selected-resources-tag"><%= t 'views.allocations.tag' %></th>
      <th class="selected-resources-mu"><%= t 'views.allocations.mu' %></th>
      <!-- ko ifnot: readonly -->
      <th class="selected-resources-real-amount">
        <%= t 'views.allocations.real_amount' %>
      </th>
      <!-- /ko -->
      <th class="selected-resources-count"><%= t 'views.allocations.amount' %></th>
    </tr>
    </thead>
    <tbody data-bind="foreach: object.items">
    <tr>
      <!-- ko ifnot: $parent.readonly -->
      <td class="allocation-actions">
        <span class="mini-icon delete" data-bind="click: $parent.unselectResource"></span>
      </td>
      <!-- /ko -->
      <td data-bind="text: tag"></td>
      <td data-bind="text: mu"></td>
      <!-- ko ifnot: $parent.readonly -->
      <td data-bind="text: real_amount"></td>
      <!-- /ko -->
      <td>
        <input type="text" size="8" name='<%= t 'views.allocations.amount' %>'
               rule="required_num"
               data-bind="value: amount, disable: $parent.readonly" />
      </td>
    </tr>
    </tbody>
  </table>

  <!-- ko ifnot: readonly -->

  <!-- ko if: availableMode() == '0' -->
  <table id="available-resources" data-bind="with: warehouse">
    <caption>
      <div id="search_available_resources" class="ui-corner-all ui-state-hover search-button"
           data-bind="click: $parent.search_area">
        <span class="ui-icon ui-icon-search"></span>
      </div>
      <div class="table-mode">
        <input type="radio" id="mode-resources" name="mode" value="0"
               data-bind="checked: $parent.availableMode"/>
        <label for="mode-resources">
          <%= t 'views.allocations.by_resource' %>
        </label>
        <input type="radio" id="mode-waybills" name="mode" value="1"
               data-bind="checked: $parent.availableMode"/>
        <label for="mode-waybills">
          <%= t 'views.allocations.by_waybills' %>
        </label>
      </div>
      <%= t 'views.allocations.available_resources' %>
      <%= render 'home/paginate' %>
    </caption>
    <thead>
      <tr>
        <th class="allocation-actions"></th>
        <th id="tag" class="available-resources-tag" data-bind="click: sortBy">
          <%= t 'views.allocations.tag' %><span></span>
        </th>
        <th id="mu" class="available-resources-mu" data-bind="click: sortBy">
          <%= t 'views.allocations.mu' %><span></span>
        </th>
        <th id="real_amount" class="available-resources-real-amount" data-bind="click: sortBy">
          <%= t 'views.allocations.real_amount' %><span></span>
        </th>
      </tr>
      <tr id="resource_filter" style="display: none"
          data-bind="event: { keyup: $parent.serchByEnter }">
        <th class="allocation-tree-actions-by-wb" >
          <div id="filtrate" class="ui-corner-all ui-state-hover"
               data-bind="click: filterData">
            <span class="ui-icon ui-icon-play"></span>
          </div>
        </th>
        <th class="available-resources-tag">
          <input type="text" id="resource_filter_tag" data-bind="value: filter.tag" />
        </th>
        <th class="available-resources-mu">
          <input type="text" id="resource_filter_mu" data-bind="value: filter.mu" />
        </th>
        <th class="available-resources-real-amount">
          <input type="text" id="resource_filter_real_amount"
                 data-bind="value: filter.real_amount" />
        </th>
      </tr>
    </thead>
    <tbody data-bind="foreach: documents">
      <tr>
        <td class="allocation-actions">
          <span class="mini-icon add" data-bind="click: $root.object().selectResource"></span>
        </td>
        <td data-bind="text: tag"></td>
        <td data-bind="text: mu"></td>
        <td data-bind="text: real_amount"></td>
      </tr>
    </tbody>
  </table>
  <!-- /ko -->

  <!-- ko if: availableMode() == '1' -->
  <table id="available-resources-by-wb" data-bind="with: warehouse">
    <caption>
      <div id="search_available_waybills" class="ui-corner-all ui-state-hover search-button"
           data-bind="click: $parent.search_area">
        <span class="ui-icon ui-icon-search"></span>
      </div>
      <div class="table-mode">
        <input type="radio" id="mode-resources-by-wb" name="mode-by-wb"
               value="0" data-bind="checked: $parent.availableMode"/>
        <label for="mode-resources-by-wb">
          <%= t 'views.allocations.by_resource' %>
        </label>
        <input type="radio" id="mode-waybills-by-wb" name="mode-by-wb"
               value="1" data-bind="checked: $parent.availableMode"/>
        <label for="mode-waybills-by-wb">
          <%= t 'views.allocations.by_waybills' %>
        </label>
      </div>
      <%= t 'views.allocations.available_resources' %>
      <%= render 'home/paginate' %>
    </caption>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th id="document_id" data-bind="click: sortBy">
          <%= t 'views.allocations.document_id' %><span></span>
        </th>
        <th id="created" data-bind="click: sortBy">
          <%= t 'views.allocations.created_at' %><span></span>
        </th>
        <th id="distributor" data-bind="click: sortBy">
          <%= t 'views.allocations.distributor' %><span></span>
        </th>
      </tr>
      <tr id="waybill_filter" style="display: none"
          data-bind="event: { keyup: $parent.serchByEnter }">
        <th class="allocation-tree-actions-by-wb" >
          <div id="filtrate_waybills" class="ui-corner-all ui-state-hover"
               data-bind="click: filterData">
            <span class="ui-icon ui-icon-play"></span>
          </div>
        </th>
        <th></th>
        <th class="available-resources-tag">
          <input type="text" id="filter_document_id" data-bind="value: filter.document_id" />
        </th>
        <th class="available-resources-mu">
          <input type="text" id="filter_created_at" data-bind="value: filter.created" />
        </th>
        <th class="available-resources-real-amount">
          <input type="text" id="filter_distributor" data-bind="value: filter.distributor" />
        </th>
      </tr>
    </thead>
    <tbody data-bind="foreach: documents">
      <tr>
        <td class="allocation-actions-by-wb">
          <span class="mini-icon add" data-bind="click: $root.object().selectWaybill"></span>
        </td>
        <td data-bind="click: $parent.expandTree" class="allocation-tree-actions-by-wb">
          <div class="ui-corner-all ui-state-hover">
            <span class="ui-icon ui-icon-circle-plus"></span>
          </div>
        </td>
        <td data-bind="text: document_id"></td>
        <td data-bind="text: created"></td>
        <td data-bind="text: distributor"></td>
      </tr>
      <tr data-bind="with: subitems">
        <td></td>
        <td colspan="6">
          <div class="paginate">
            <span data-bind="text: range"></span> <%= t('views.home.of') %>
            <span data-bind="text: count"></span>
            <input type="button" value="<" data-bind="click: prev, disable: page() < 2"/>
            <input type="button" class="paginate-right" value=">"
                   data-bind="click: next, disable: page()*per_page() >= count()"/>
          </div>
          <table>
            <thead>
            <tr>
              <th class="available-resources-tag"><%= t 'views.allocations.tag' %></th>
              <th class="available-resources-mu"><%= t 'views.allocations.mu' %></th>
              <th class="available-resources-amount"><%= t 'views.allocations.amount' %></th>
            </tr>
            </thead>
            <tbody data-bind="foreach: documents">
            <tr>
              <td data-bind="text: tag"></td>
              <td data-bind="text: mu"></td>
              <td data-bind="text: amount"></td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- /ko -->

  <!-- /ko -->

  <div class="clear-div"></div>

</form>
