<div class="action_element"
     data-bind="slider: {pressed: 'statable_type', slidearea: 'statable_types_menu',
                         closed: false, pressed_style: true}">
  <div id="statable_type">
    <div class="button checklist"></div>
  </div>
  <ul id="statable_types_menu" class="menu multiple-choice">
    <li>
      <input type="checkbox" id="check_inwork" value="<%=::Helpers::Statable::INWORK %>"
             data-bind="checked: filter_state">
      <label for="check_inwork"><%=t 'views.statable.inwork' %></label>
    </li>
    <li>
      <input type="checkbox" id="check_canceled" value="<%=::Helpers::Statable::CANCELED %>"
             data-bind="checked: filter_state">
      <label for="check_canceled"><%=t 'views.statable.canceled' %></label>
    </li>
    <li>
      <input type="checkbox" id="check_applied" value="<%=::Helpers::Statable::APPLIED %>"
             data-bind="checked: filter_state">
      <label for="check_applied"><%=t 'views.statable.applied' %></label>
    </li>
    <li>
      <input type="checkbox" id="check_reverced" value="<%=::Helpers::Statable::REVERSED %>"
             data-bind="checked: filter_state">
      <label for="check_reverced"><%=t 'views.statable.reversed' %></label>
    </li>
    <li class="not-hover">
      <div class="menu-button" data-bind="click: filterData,
                                          closeSlidearea: {slidearea: 'statable_types_menu'}">
        <%=t 'views.statable.buttons.apply' %>
      </div>
    </li>
  </ul>
</div>
