<form data-bind="validate: { success: save }">
  <div class="actions">
    <%= render :partial => "home/buttons", :locals => { :editable => false } %>
  </div>

  <%= render 'home/errors' %>

  <fieldset>
    <legend><%= t 'views.user_notification.tag' %></legend>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="title"><%= t 'views.user_notification.title' %>:</label>
        </span>
        <span>
          <input type="text" id="title" name="<%= t 'views.user_notification.title' %>"
                 rule='required' data-bind="value: object.notification.title,
                                            disable: readonly"  />
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="message"><%= t 'views.user_notification.message' %>:</label>
        </span>
        <span>
          <textarea id="message" name="<%= t 'views.user_notification.message' %>"
                 rule='required' data-bind="value: object.notification.message,
                                            disable: readonly"
                 rows='10'></textarea>
        </span>
      </div>
      <div>
          <span>
            <label for="notification_type"><%=t 'views.user_notification.type.tag' %>:</label>
          </span>
          <span>
            <select id="notification_type"
                    name='<%=t 'views.user_notification.type.tag' %>'
                    data-bind="value: object.notification.notification_type,
                               disable: readonly">
              <option value='<%= Notification::INFORMATION %>'>
                <%=t 'views.user_notification.type.information' %>
              </option>
              <option value='<%= Notification::WARNING %>'>
                <%=t 'views.user_notification.type.warning' %>
              </option>
            </select>
          </span>
      </div>
      <!-- ko if: readonly -->
        <div>
          <span class="form-cell-label">
            <label for="title"><%= t 'views.user_notification.date' %>:</label>
          </span>
          <span>
            <input type="text" id="date" name="<%= t 'views.user_notification.date' %>"
                   rule='required' data-bind="value: object.notification.date,
                                              disable: readonly"  />
          </span>
        </div>
      <!-- /ko -->
    </div>
  </fieldset>
</form>
