<form data-bind="validate: { success: save }">
  <div class='actions'>
    <input type='submit' value="<%= t 'views.groups.save' %>"/>
    <input type='button' value="<%= t 'views.groups.back' %>"/>
  </div>
  <span id="page-title">
    <%= t 'views.groups.page_title_new' %>
  </span>
  <%= render 'home/errors' %>

  <fieldset>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="group_tag"><%= t 'views.groups.tag' %>:</label>
        </span>
        <span>
          <input type="text" id="group_tag" name="<%= t 'views.groups.tag' %>"
                 rule="required" data-bind="value: object.group.tag">
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="group_manager"><%= t 'views.groups.manager' %>:</label>
        </span>
        <span data-bind='with: object.manager'>
          <input type="text" id="group_manager"
                 name="<%= t 'views.groups.manager' %>" rule="required"
                 data-bind="autocomplete: { source: '/users/names.json',
                                            bind: { id: $parent.object.group.manager_id },
                                            onlySelect: true,
                                            value: 'tag'},
                            value: tag">
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t 'views.groups.users' %></legend>
    <input type="button" value="<%=t 'views.groups.add' %>"
           data-bind="click: addUser">
    <table>
      <thead>
        <tr>
          <th><%= t 'views.groups.user_name' %></th>
          <th class="table-actions"></th>
        </tr>
      </thead>
      <tbody data-bind="foreach: object.users, elementValidate: object.users">
        <tr data-bind="attr: { idx: $parent.object.users.indexOf($data) }">
          <td>
            <input type="text" rule="required"
                   data-bind="autocomplete: { source: '/users/names.json',
                                              bind: { id: id },
                                              value: 'tag' },
                              attr: { name: '<%=t 'views.groups.user_name' %>#'+
                                            $parent.object.users.indexOf($data) +
                                            ' <%=t 'views.groups.user' %>',
                                      id: 'user_' + $parent.object.users.indexOf($data) }">
          </td>
          <td class="table-actions">
            <label data-bind="click: $parent.deleteUser"></label>
          </td>
        </tr>
      </tbody>
    </table>
    <input type="button" value="<%=t 'views.groups.add' %>"
           data-bind="click: addUser">
  </fieldset>
</form>
