<form data-bind="validate: { success: save }">
  <div class='actions'>
    <%= render :partial => "home/buttons", :locals => { :editable => true } %>
  </div>

  <span id="page-title">
    <!-- ko if: readonly -->
      <%= t('views.users.page_title_show') %>
    <!-- /ko -->
    <!-- ko ifnot: readonly -->
      <!-- ko if: id_presence -->
        <%= t('views.users.page_title_edit') %>
      <!-- /ko -->
      <!-- ko ifnot: id_presence -->
        <%= t('views.users.page_title_new') %>
      <!-- /ko -->
    <!-- /ko -->
  </span>

  <%= render 'home/errors' %>


  <fieldset>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="user_entity"><%= t('views.users.user_name') %>:</label>
        </span>
        <span data-bind='with: object.entity'>
          <input type="text" id="user_entity"
                 name="<%= t('views.users.user_name') %>" rule="required"
                 data-bind="autocomplete: { source: '/entities.json',
                                            value: 'tag',
                                            bind: { id: $parent.object.user.entity_id } },
                            value: tag, disable: $parent.readonly">
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="user_email"><%= t('views.users.email') %>:</label>
        </span>
        <span>
          <input type="text" id="user_email" name="<%= t('views.users.email') %>"
                 rule="email"
                 error-message-email="<%=t('errors.messages.email') %>"
                 data-bind="value: object.user.email, disable: readonly">
        </span>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <!-- ko ifnot: readonly -->
    <!-- ko if: id_presence -->
    <legend>
      <label for="change_pass" ><%= t('views.users.change_password') %>:</label>
      <input id="change_pass" type="checkbox" data-bind="checked: change_password" />
    </legend>
    <!-- /ko -->
    <!-- /ko -->
    <div>
      <div>
        <span class="form-cell-label">
          <label for="user_password"><%= t('views.users.password') %>:</label>
        </span>
        <span>
          <input type="password" id="user_password" name="<%=t('views.users.password') %>"
                 rule="min_length"
                 min_length="6"
                 error-message-min-length="<%=t('errors.messages.too_short.few', count: 6) %>"
                 data-bind="value: object.user.password, disable: !change_password()">
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="user_password_confirmation">
            <%= t('views.users.password_confirmation') %>:</label>
        </span>
        <span>
          <input type="password" id="user_password_confirmation"
                 name="<%=t('views.users.password_confirmation') %>" rule="equal_to"
                 equal_to="user_password"
                 error-message-equal-to="<%= t('errors.messages.equal_to',
                                               value: t('views.users.password') ) %>"
                 data-bind="value: object.user.password_confirmation,
                            disable: !change_password()">
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><%=t 'views.users.credentials' %></legend>
    <input type="button" value="<%= t('views.users.add') %>"
           data-bind="click: addCredential, disable: readonly">
    <table>
      <thead>
        <tr>
          <th><%=t 'views.users.place' %></th>
          <th><%=t 'views.users.document_type' %></th>
          <th class="table-actions"></th>
        </tr>
      </thead>
      <tbody data-bind="foreach: object.credentials, elementValidate: object.credentials">
        <tr data-bind="attr: { idx: $parent.object.credentials.indexOf($data) }">
          <td>
            <input type="text" rule="required"
                   data-bind="autocomplete: { source: '/places.json',
                                              value: 'tag' },
                              attr: { name: '<%=t 'views.users.credential' %>#' +
                                            $parent.object.credentials.indexOf($data) +
                                            ' <%=t 'views.users.place' %>'},
                              value: tag, disable: $parent.readonly">
          </td>
          <td>
            <select data-bind="value: document_type, disable: $parent.readonly">
              <% @document_types.each do |document| %>
                <option value="<%= document %>">
                  <%=t "views.home.#{document.downcase}" %>
                </option>
              <% end %>
              <option value="WarehouseForemanReport">
                <%=t "views.home.foreman_report" %>
              </option>
            </select>
          </td>
          <!-- ko ifnot: $parent.readonly -->
          <td class="table-actions">
            <label data-bind="click: $parent.deleteCredential"></label>
          </td>
          <!-- /ko -->
        </tr>
      </tbody>
    </table>
    <input type="button" value="<%= t('views.users.add') %>"
           data-bind="click: addCredential, disable: readonly">
  </fieldset>
</form>
