<form data-bind="validate: { success: save }">
  <div class='actions'>
    <input type='submit' value="<%= t('views.distributions.save') %>"
           data-bind='visible: !readonly()'/>
    <input type='button' value="<%= t('views.distributions.draft') %>"
           data-bind='visible: !readonly()'/>
    <input type='button' value="<%= t('views.distributions.back') %>"
           data-bind='click: back'/>
    <div class='buttons-separator' data-bind='visible: readonly'></div>
    <input type='button' value="<%= t('views.distributions.apply') %>"
           data-bind='click: apply, visible: readonly && object.distribution.state() == 1'/>
    <input type='button' value="<%= t('views.distributions.cancel') %>"
           data-bind='click: cancel, visible: readonly && object.distribution.state() == 1'/>
    <input type='button' value="<%= t('views.distributions.print') %>"
           data-bind='click: print, visible: readonly'/>
  </div>

  <span id="page-title">
  <!-- ko if: readonly -->
    <%= t('views.distributions.page_title_show') %>
  <!-- /ko -->
  <!-- ko ifnot: readonly -->
    <%= t('views.distributions.page_title_new') %>
  <!-- /ko -->
  </span>

  <%= render 'home/errors' %>

  <fieldset>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="created"><%= t 'views.distributions.created_at' %>:</label>
        </span>
        <span>
          <input type="text" id="created" rule="required"
                 name="<%= t 'views.distributions.created_at' %>"
                 data-bind="datepicker: object.distribution.created, disable: readonly">
        </span>
      </div>
      <!-- ko if: readonly -->
      <div>
        <span class="form-cell-label">
          <label for="state"><%= t 'views.distributions.state' %>:</label>
        </span>
        <span>
          <input type="text" id="state" disabled="disabled"
                 data-bind="value: getState(object.distribution.state())">
        </span>
      </div>
      <!-- /ko -->
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t 'views.distributions.storekeeper' %></legend>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="storekeeper_entity"><%= t 'views.distributions.entity' %>:</label>
        </span>
        <span data-bind='with: object.storekeeper'>
          <input type='text' id='storekeeper_entity'
                 name='<%= t 'views.distributions.storekeeper' %>' rule='required'
                 data-bind="autocomplete: {
                              source: '/entities.json',
                              value: 'tag',
                              bindId: $parent.object.distribution.storekeeper_id,
                              onlySelect: true,
                              afterChange: $parent.loadAvailableResources
                            }, value: tag, disable: $parent.readonly" />
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="storekeeper_place"><%= t 'views.distributions.place' %>:</label>
        </span>
        <span data-bind='with: object.storekeeper_place'>
          <input type='text' id='storekeeper_place'
                 name='<%= t 'views.distributions.storekeeper_place' %>' rule='required'
                 data-bind="autocomplete: {
                              source: '/places.json',
                              value: 'tag',
                              bindId: $parent.object.distribution.storekeeper_place_id,
                              onlySelect: true,
                              afterChange: $parent.loadAvailableResources
                            }, value: tag, disable: $parent.readonly" />
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t 'views.distributions.foreman' %></legend>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="foreman_entity"><%= t 'views.distributions.entity' %>:</label>
        </span>
        <span data-bind='with: object.foreman'>
          <input type='text' id='foreman_entity'
                 name='<%= t 'views.distributions.foreman' %>' rule='required'
                 data-bind="autocomplete: {
                              source: '/entities.json',
                              value: 'tag',
                              bindId: $parent.object.distribution.foreman_id
                            }, value: tag, disable: $parent.readonly" />
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="foreman_place"><%= t 'views.distributions.place' %>:</label>
        </span>
        <span data-bind='with: object.foreman_place'>
          <input type='text' id='foreman_place'
                 name='<%= t 'views.distributions.foreman_place' %>' rule='required'
                 data-bind="autocomplete: {
                              source: '/places.json',
                              value: 'tag',
                              bindId: $parent.object.distribution.foreman_place_id
                            }, value: tag, disable: $parent.readonly" />
        </span>
      </div>
    </div>
  </fieldset>

  <table id="selected-resources">
    <caption><%= t 'views.distributions.selected_resources' %></caption>
    <thead>
    <tr>
      <!-- ko ifnot: readonly -->
      <th class="distribution-actions"></th>
      <!-- /ko -->
      <th class="selected-resources-tag"><%= t 'views.distributions.tag' %></th>
      <th class="selected-resources-mu"><%= t 'views.distributions.mu' %></th>
      <!-- ko ifnot: readonly -->
      <th class="selected-resources-exp-amount">
        <%= t 'views.distributions.expectation_amount' %>
      </th>
      <!-- /ko -->
      <th class="selected-resources-count"><%= t 'views.distributions.amount' %></th>
    </tr>
    </thead>
    <tbody data-bind="foreach: object.items">
    <tr>
      <!-- ko ifnot: $parent.readonly -->
      <td class="distribution-actions">
        <span class="mini-icon delete" data-bind="click: $parent.unselectResource"></span>
      </td>
      <!-- /ko -->
      <td data-bind="text: tag"></td>
      <td data-bind="text: mu"></td>
      <!-- ko ifnot: $parent.readonly -->
      <td data-bind="text: exp_amount"></td>
      <!-- /ko -->
      <td>
        <input type="text" size="8"
               data-bind="value: amount, disable: $parent.readonly" />
      </td>
    </tr>
    </tbody>
  </table>

  <!-- ko ifnot: readonly -->

  <!-- ko if: availableMode() == '0' -->
  <table id="available-resources">
    <caption>
      <div class="table-mode">
        <input type="radio" id="mode-resources" name="mode" value="0"
               data-bind="checked: availableMode"/>
        <label for="mode-resources">
          <%= t 'views.distributions.by_resource' %>
        </label>
        <input type="radio" id="mode-waybills" name="mode" value="1"
               data-bind="checked: availableMode"/>
        <label for="mode-waybills">
          <%= t 'views.distributions.by_waybills' %>
        </label>
      </div>
      <%= t 'views.distributions.available_resources' %>
      <%= render 'home/paginate' %>
    </caption>
    <thead>
    <tr>
      <th class="distribution-actions"></th>
      <th class="available-resources-tag"><%= t 'views.distributions.tag' %></th>
      <th class="available-resources-mu"><%= t 'views.distributions.mu' %></th>
      <th class="available-resources-exp-amount">
        <%= t 'views.distributions.expectation_amount' %>
      </th>
    </tr>
    </thead>
    <tbody data-bind="foreach: availableResources">
    <tr>
      <td class="distribution-actions">
        <span class="mini-icon add" data-bind="click: $parent.selectResource"></span>
      </td>
      <td data-bind="text: tag"></td>
      <td data-bind="text: mu"></td>
      <td data-bind="text: exp_amount"></td>
    </tr>
    </tbody>
  </table>
  <!-- /ko -->

  <!-- ko if: availableMode() == '1' -->
  <table id="available-resources-by-wb">
    <caption>
      <div class="table-mode">
        <input type="radio" id="mode-resources-by-wb" name="mode-by-wb"
               value="0" data-bind="checked: availableMode"/>
        <label for="mode-resources-by-wb">
          <%= t 'views.distributions.by_resource' %>
        </label>
        <input type="radio" id="mode-waybills-by-wb" name="mode-by-wb"
               value="1" data-bind="checked: availableMode"/>
        <label for="mode-waybills-by-wb">
          <%= t 'views.distributions.by_waybills' %>
        </label>
      </div>
      <%= t 'views.distributions.available_resources' %>
    </caption>
    <thead>
    <tr>
      <th><%= t 'views.distributions.document_id' %></th>
      <th><%= t 'views.distributions.created_at' %></th>
      <th><%= t 'views.distributions.distributor' %></th>
      <th><%= t 'views.distributions.storekeeper' %></th>
      <th><%= t 'views.distributions.storekeeper_place' %></th>
    </tr>
    </thead>
    <tbody data-bind="foreach: availableResources">
    <tr>
      <td data-bind="text: document_id"></td>
      <td data-bind="text: created"></td>
      <td data-bind="text: distributor"></td>
      <td data-bind="text: storekeeper"></td>
      <td data-bind="text: storekeeper_place"></td>
    </tr>
    </tbody>
  </table>
  <!-- /ko -->

  <!-- /ko -->

  <div class="clear-div"></div>

</form>
