<div class="left">
  <label for="general_ledger_date"><%= t 'views.balance_sheet.date' %>:</label>
  <input type="text" id="general_ledger_date"
         data-bind="datepicker: date, event: {change: filter}">
</div>
<div class="clear"></div>
<table>
  <thead>
  <tr>
    <th class=""><%=t 'views.general_ledger.date'%></th>
    <th class=""><%=t 'views.general_ledger.resource'%></th>
    <th class=""><%=t 'views.general_ledger.amount'%></th>
    <th class=""><%=t 'views.general_ledger.type'%></th>
    <th class=""><%=t 'views.general_ledger.account'%></th>
    <th class=""><%=t 'views.general_ledger.price'%></th>
    <th class=""><%=t 'views.general_ledger.debit'%></th>
    <th class=""><%=t 'views.general_ledger.credit'%></th>
  </tr>
  </thead>
  <tbody data-bind="foreach: documents">
    <tr>
      <td data-bind="text: day"></td>
      <td data-bind="text: resource"></td>
      <td data-bind="text: amount"></td>
      <td data-bind="text: type_debit"></td>
      <td data-bind="text: account_debit"></td>
      <td data-bind="text: price_debit"></td>
      <td data-bind="text: debit_debit"></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td data-bind="text: type_credit"></td>
      <td data-bind="text: account_credit"></td>
      <td data-bind="text: price_credit"></td>
      <td></td>
      <td data-bind="text: credit_credit"></td>
    </tr>
  </tbody>
</table>
