<div class='actions'>
  <input type='button' value="<%= t 'views.estimates.catalogs.create' %>" data-bind="click: newCatalog"/>
</div>
<div class='breadcrumbs'>
  <ul class="path" data-bind="foreach: parents">
    <li class="arrow_right" data-bind="text: tag, click: $parent.selectParent"></li>
  </ul>
</div>
<table>
  <thead>
    <tr>
      <th id="tag">
        <%= t 'views.estimates.catalogs.tag' %>
      </th>
      <th id="document_id">
        <%= t 'views.estimates.catalogs.activity' %>
      </th>
    </tr>
  </thead>
  <tbody data-bind="foreach: documents">
    <tr>
      <td data-bind="text: tag, click: $parent.selectItem"></td>
      <td class="min-padding">
        <!-- ko if: document_id != null -->
        <span class="cell-link" data-bind="click: $parent.showDocument">
          <%= t 'views.estimates.catalogs.view_document' %>
        </span>
        <!-- /ko -->
        <!-- ko if: have_boms -->
        <span class="cell-link" data-bind="click: $parent.showBoMs">
          <%= t 'views.estimates.catalogs.view_boms' %>
        </span>
        <!-- /ko -->
        <!-- ko if: have_pricelists -->
        <span class="cell-link" data-bind="click: $parent.showPriceLists">
          <%= t 'views.estimates.catalogs.view_price_lists' %>
        </span>
        <!-- /ko -->
      </td>
    </tr>
  </tbody>
</table>
