<div id="header">
  <div class="div-logout"><%= link_to t('views.home.logout'), :logout %></div>
  <% if current_user.root? %>
    <div class="div-logout"><a href="#settings"><%=t 'views.home.settings' %></a></div>
    <div class="div-logout"><a href="#documents/notifications/new">
       <%=t 'views.home.notify' %></a>
    </div>
  <% end %>
    <div class="div-logout"><a href="#notifications">
      <%=t 'views.home.notifications' %></a>
    </div>
  <div class="div-logout"><a href="#helps"><%=t 'views.home.help' %></a></div>
  <div>
    <span>
      <%= current_user.root? ? current_user.email : current_user.entity.tag %>
    </span>
  </div>
</div>

<div id="body">
  <div id='nav'>
    <div class='filter'>
      <div class='filter-bar' data-bind="slider: { pressed: 'show-filter', slidearea: 'filter-area' }">
        <input type='text' value=''/>
        <div id='show-filter'>
          <div class='arrow_down' id='arrow_down'></div>
        </div>
      </div>
      <input type='button' value="<%=t 'views.home.search' %>"/>
    </div>
  </div>

  <div id="sidebar">
    <% unless @types.empty? %>
    <div data-bind="slider: { pressed: 'create_btn', slidearea: 'create-menu' }, slidemenu: {}">
      <div id="create_btn" class="button">
        <div class="data"><%=t 'views.home.create' %></div>
        <div class="data arrow_down"></div>
      </div>
      <ul id="create-menu">
        <% @types.each do |type| %>
          <li>
            <%= link_to(t("views.home.#{type.underscore}"),
                       "#documents#{send("new_#{type.underscore}_path")}") %>
          </li>
        <% end %>
      </ul>
    </div>
    <br />
    <% end %>

    <!-- Temporary removed: logic not implemented -->
    <!--<ul>-->
      <!--<li id="inbox"><a href="#inbox"><%=t 'views.home.inbox' %></a></li>-->
      <!--<li><a><%=t 'views.home.starred' %></a></li>-->
      <!--<li><a><%=t 'views.home.drafts' %></a></li>-->
      <!--<li><a><%=t 'views.home.sent' %></a></li>-->
      <!--<li><a><%=t 'views.home.trash' %></a></li>-->
      <!--<li id="archive"><a href="#archive"><%=t 'views.home.archive' %></a></li>-->
      <!--<hr>-->
    <!--</ul>-->
    <br>

    <% if current_user.root? %>
      <div class="slider">
        <div id="arrow_services" class="arrow-down-slide"></div>
        <a id="btn_slide_services" class="btn-slide" data-bind="click: slide">
          <%=t 'views.home.services' %>
        </a>
        <ul id="slide_menu_services" class="slide_menu" style="display: none;">
          <div class="slide_action">
            <div id="arrow_resources_actions" class="arrow-expand arrow-right-expand"
                 data-bind="click: expandResources"></div>
            <a id="resource" class="btn_slide_action" data-bind="click: expandResources">
              <%=t 'views.home.resources' %>
            </a>
          </div>
          <ul id="slide_menu_resources" class="slide_menu" style="display: none;">
            <li id="assets_new">
              <a href="#documents/assets/new"><%=t 'views.home.asset' %></a>
            </li>
            <li id="money_new">
              <a href="#documents/money/new"><%=t 'views.home.money' %></a>
            </li>
          </ul>
          <li id="places_new">
            <a href="#documents/places/new"><%=t 'views.home.place' %></a>
          </li>
          <div class="slide_action">
            <div id="arrow_entities_actions" class="arrow-expand arrow-right-expand"
                 data-bind="click: expandEntities"></div>
            <a id="entity" class="btn_slide_action" data-bind="click: expandEntities">
              <%=t 'views.home.entities' %>
            </a>
          </div>
          <ul id="slide_menu_entities" class="slide_menu" style="display: none;">
            <li id="entities_new">
              <a href="#documents/entities/new"><%=t 'views.home.entity' %></a>
            </li>
            <li id="legal_entities_new">
              <a href="#documents/legal_entities/new"><%=t 'views.home.legal_entity' %></a>
            </li>
          </ul>
          <li id="quote_new"><a href="#documents/quote/new"><%=t 'views.home.quote' %></a></li>
          <li id="deals_new"><a href="#documents/deals/new"><%=t 'views.home.deal' %></a></li>
          <li id="facts_new"><a href="#documents/facts/new"><%=t 'views.home.fact' %></a></li>
        </ul>
      </div>
    <% end %>

    <div class="slider">
      <div id="arrow_lists" class="arrow-down-slide"></div>
      <a id="btn_slide_lists" class="btn-slide" data-bind="click: slide">
        <%=t 'views.home.lists' %>
      </a>
      <ul id="slide_menu_lists" class="slide_menu" style="display: none;">
        <% if current_user.root? %>
          <li id="users"><a href="#users"><%=t 'views.home.users' %></a></li>
          <li id="groups"><a href="#groups"><%=t 'views.home.groups' %></a></li>
          <li id="resources"><a href="#resources"><%=t 'views.home.resources' %></a></li>
          <li id="entities"><a href="#entities"><%=t 'views.home.entities' %></a></li>
          <li id="quote"><a href="#quote"><%=t 'views.home.quote' %></a></li>
          <li id="places"><a href="#places"><%=t 'views.home.places' %></a></li>
          <div class="slide_action">
            <div id="arrow_actions" class="arrow-expand arrow-right-expand"
                 data-bind="click: expandDeals"></div>
            <a href="#deals" id="deals" class="btn_slide_action"
               data-bind="click: expandDeals"><%=t 'views.home.deals' %></a>
          </div>
          <ul id="slide_menu_deals" class="slide_menu" style="display: none;">
            <li id="waybills"><a href="#waybills"><%=t 'views.home.waybills' %></a></li>
            <li id="allocations">
              <a href="#allocations"><%=t 'views.home.allocations' %></a>
            </li>
          </ul>
        <% else %>
          <% if can? :manage, WarehouseForemanReport %>
            <li id="foreman_report"><a href="#foreman/resources"><%=t 'views.home.foreman_report' %></a></li>
          <% end %>
          <% if can? :manage, Waybill %>
            <li id="waybills"><a href="#waybills"><%=t 'views.home.waybills' %></a></li>
          <% end %>
          <% if can? :manage, Allocation %>
            <li id="allocations">
              <a href="#allocations"><%=t 'views.home.allocations' %></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="slider">
      <div id="arrow_conditions" class="arrow-down-slide"></div>
      <a id="btn_slide_conditions" class="btn-slide" data-bind="click: slide">
        <%=t 'views.home.conditions' %>
      </a>
      <ul id="slide_menu_conditions" class="slide_menu" style="display: none;">
        <% if can?(:manage, Waybill) & can?(:manage, Allocation) %>
          <li id="warehouses">
            <a href="#warehouses"><%=t 'views.home.warehouses' %></a>
          </li>
          <li id="warehouses_foremen">
            <a href="#warehouses/foremen"><%=t 'views.home.reports.foremen' %></a>
          </li>
          <li id="warehouses_report">
            <a href="#warehouses/report"><%=t 'views.home.reports.report' %></a>
          </li>
        <% end %>
        <% if current_user.root? %>
          <li id="general_ledger">
            <a href="#general_ledger"><%=t 'views.home.general_ledger' %></a>
          </li>
          <li id="balance_sheet">
            <a href="#balance_sheet"><%=t 'views.home.balance_sheet' %></a>
          </li>
          <li id="transcripts">
            <a href="#transcripts"><%=t 'views.home.transcripts' %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div id="main">

  <!-- The overlay and the box -->
  <div class="message-box" id="message_box" msgType='information'
       style="display: none">
    <span></span>
  </div>

  <div class="operations"><%= render 'paginate' %></div>
  <div id="container_documents"></div>
  <div class="operations"><%= render 'paginate' %></div>
</div>
