<div id="header">
  <div class="div-logout"><%= link_to t('views.home.logout'), :logout %></div>
  <div>
    <span>
      <%= current_user.kind_of?(RootUser) ? current_user.email : current_user.entity.tag %>
    </span>
  </div>
</div>

<div id="body">
  <div id='nav'>
    <div class='filter'>
      <div class='filter-bar'>
        <input type='text' value=''/>
        <div id='show-filter'
             data-bind="slidemenu: { control: 'show-filter', list: 'filter-area',
                                     stuck: true }">
          <div class='arrow_down'></div>
        </div>
      </div>
      <input type='button' value="<%=t 'views.home.search' %>"/>
    </div>
  </div>

  <div id="sidebar">
    <div class="button_drop_down_list"
         data-bind="slidemenu: { control: 'btn_create', list: 'documents_list' } ">
      <a id="btn_create"><%=t 'views.home.create' %>
        <div class="arrow_down"></div>
      </a>
      <%= documents_list('documents_list') %>
    </div>
    <br />

    <ul>
      <li id="inbox"><a href="#inbox"><%=t 'views.home.inbox' %></a></li>
      <li><a><%=t 'views.home.starred' %></a></li>
      <li><a><%=t 'views.home.drafts' %></a></li>
      <li><a><%=t 'views.home.sent' %></a></li>
      <li><a><%=t 'views.home.trash' %></a></li>
      <li><a><%=t 'views.home.archive' %></a></li>
      <hr>
      <li id="warehouses"><a href="#warehouses"><%=t 'views.home.warehouses' %></a></li>
      <li id="general_ledger"><a href="#general_ledger"><%=t 'views.home.general_ledger' %></a></li>
      <li id="balance_sheet"><a href="#balance_sheet"><%=t 'views.home.balance_sheet' %></a></li>
      <li id="transcripts"><a href="#transcripts"><%=t 'views.home.transcripts' %></a></li>
    </ul>
  </div>
</div>

<div id="main">
  <div class="operations"><%= render 'paginate' %></div>
  <div id="container_documents"></div>
  <div class="operations"><%= render 'paginate' %></div>
</div>
