<form data-bind="validate: { success: save }">
  <div class='actions'>
    <%= render :partial => "home/buttons", :locals => { :editable => true } %>
    <input type='button' value="<%= t('views.statable.buttons.apply') %>"
           data-bind='click: apply, visible: visibleApply(), disable: disableButton()'/>
  </div>

  <span id="page-title">
    <!-- ko if: readonly -->
      <%= t('views.estimates.locals.page.title.show') %>
    <!-- /ko -->
    <!-- ko ifnot: readonly -->
      <!-- ko if: id_presence -->
        <%= t('views.estimates.locals.page.title.edit') %>
      <!-- /ko -->
      <!-- ko ifnot: id_presence -->
        <%= t('views.estimates.locals.page.title.new') %>
      <!-- /ko -->
    <!-- /ko -->
  </span>

  <%= render 'home/errors' %>

  <fieldset>
    <div>
      <div data-bind="visible: object.local.approved">
        <span class="form-cell-label">
          <label for="local_approved"><%= t('views.estimates.locals.approved') %>:</label>
        </span>
        <span>
          <input type="text" id="local_approved"
                 name="<%= t('views.estimates.locals.approved') %>"
                 data-bind="value: object.local.approved, disable: true">
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="local_tag"><%= t('views.estimates.locals.tag') %>:</label>
        </span>
        <span>
          <input type="text" id="local_tag"
                 name="<%= t('views.estimates.locals.tag') %>" rule="required"
                 data-bind="value: object.local.tag, disable: readonly">
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="local_date"><%= t('views.estimates.locals.date') %>:</label>
        </span>
        <span>
          <input type="text" id="local_date"
                 name="<%= t('views.estimates.locals.date') %>" rule="required"
                 data-bind="datepicker:{ value: object.local.date, maxDate: '+0'},
                            disable: readonly">
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="local_catalog"><%= t('views.estimates.locals.catalog') %>:</label>
        </span>
        <span>
          <input type="text" id="local_catalog"
                 name="<%= t('views.estimates.locals.catalog') %>" rule="required"
                 data-bind="dialog: { autoOpen: false,
                                       modal: true,
                                       minWidth: 480,
                                       minHeight: 300,
                                       bind: { id: object.catalog.id, tag: object.catalog.tag }
                                     },
                            dialogId: 'catalogs_selector',
                            value: object.catalog.tag,
                            disable: readonly">
        </span>
      </div>
    </div>
  </fieldset>
  <fieldset class="with-legend">
    <legend><%=t 'views.waybills.waybill_entry' %></legend>
    <input type="button" value="<%= t('views.waybills.add') %>"
           data-bind="dialog: { autoOpen: false,
                                modal: true,
                                minWidth: 480,
                                minHeight: 300,
                                bind: { id: object.catalog.id, tag: object.catalog.tag }
                              },
                      dialogId: 'boms_selector',
                      disable: readonly() || !can_add_items()"/>
    <div class="overflow">
    <table class="elements-align-center withoutmargin">
      <thead>
        <tr>
          <th rowspan="3"></th>
          <th class="col-width" rowspan="3"><%= t('views.estimates.code') %></th>
          <th class="tag-width" rowspan="3"><%= t('views.resources.tag') %></th>
          <th class="col-width" rowspan="3"><%= t('views.resources.mu') %></th>
          <th class="col-width" rowspan="3"><%= t('views.estimates.locals.amount') %></th>
          <th colspan="10"><%= t 'views.estimates.locals.prices.one' %></th>
          <th colspan="10"><%= t 'views.estimates.locals.prices.all' %></th>
        </tr>
        <tr class="with-pad">
          <th colspan="6" rowspan="2"><%= t 'views.estimates.locals.prices.total' %></th>
          <th colspan="4"><%= t 'views.estimates.locals.prices.including' %></th>
          <th colspan="6" rowspan="2"><%= t 'views.estimates.locals.prices.total' %></th>
          <th colspan="4"><%= t 'views.estimates.locals.prices.including' %></th>
        </tr>
        <tr class="with-pad">
          <th><%= t 'views.estimates.locals.prices.basic' %></th>
          <th><%= t 'views.estimates.locals.prices.machine_operation' %></th>
          <th><%= t 'views.estimates.locals.prices.machine_salary' %></th>
          <th><%= t 'views.estimates.locals.prices.materials' %></th>
          <th><%= t 'views.estimates.locals.prices.basic' %></th>
          <th><%= t 'views.estimates.locals.prices.machine_operation' %></th>
          <th><%= t 'views.estimates.locals.prices.machine_salary' %></th>
          <th><%= t 'views.estimates.locals.prices.materials' %></th>
        </tr>
      </thead>
      <tbody data-bind="foreach: { data: object.items }">
        <tr data-bind="attr: { idx: $parent.object.items.indexOf($data),
                                id: 'item_' + $parent.object.items.indexOf($data) }">
          <!-- ko if: $parent.readonly -->
          <td data-bind="click: $parent.showResources" class="tree-actions">
              <span class="ui-icon ui-icon-circle-plus ui-corner-all ui-state-hover"></span>
          </td>
          <!-- /ko -->
          <!-- ko ifnot: $parent.readonly -->
          <td class="table-actions">
            <label data-bind="click: $parent.removeItem"></label>
          </td>
          <!-- /ko -->
          <td>
            <input type="text" rule="required"
                   data-bind="value: price.bom.uid, disable: $parent.readonly,
                              attr: { id: 'uid_' + $parent.object.items.indexOf($data),
                                      name: '<%=t 'views.waybills.item' %>#' +
                                            $parent.object.items.indexOf($data) +
                                            ' <%=t 'views.waybills.entry_name' %>'}" />
          </td>
          <td>
            <input type="text" rule="required"
                   readonly="readonly"
                   data-bind="value: price.bom.resource.tag, disable: $parent.readonly,
                              attr: { id: 'mu_' + $parent.object.items.indexOf($data),
                                      name: '<%=t 'views.waybills.item' %>#' +
                                      $parent.object.items.indexOf($data) +
                                      ' <%=t 'views.waybills.measure' %>'}" />
          </td>
          <td>
            <input type="text" rule="required"
                   readonly="readonly"
                   data-bind="value: price.bom.resource.mu, disable: $parent.readonly,
                              attr: { id: 'count_' + $parent.object.items.indexOf($data),
                                      name: '<%=t 'views.waybills.item' %>#' +
                                      $parent.object.items.indexOf($data) +
                                      ' <%=t 'views.waybills.count' %>'}"/>
          </td>
          <td>
            <input type="text" rule="required_num"
                   data-bind="value: amount, disable: $parent.readonly,
                              valueUpdate: 'afterkeydown',
                              attr: { id: 'price_' + $parent.object.items.indexOf($data),
                                      name: '<%=t 'views.waybills.item' %>#' +
                                      $parent.object.items.indexOf($data) +
                                      ' <%=t 'views.waybills.price' %>'}" />
          </td>
          <td data-bind="text: price.direct_cost" colspan="6"></td>
          <td data-bind="text: price.workers_cost"></td>
          <td data-bind="text: price.drivers_cost"></td>
          <td data-bind="text: price.machinery_cost"></td>
          <td data-bind="text: price.materials_cost"></td>
          <td data-bind="text: total_direct_cost" colspan="6"></td>
          <td data-bind="text: total_workers_cost"></td>
          <td data-bind="text: total_drivers_cost"></td>
          <td data-bind="text: total_machinery_cost"></td>
          <td data-bind="text: total_materials_cost"></td>
        </tr>
        <!-- ko if: $parent.readonly -->
        <tr data-bind="visible: $parent.resourceVisibility($data.price.bom.id())">
          <td></td>
          <td colspan="4" class="td-inner-table">
            <table class="elements-align-center inner-table withoutmargin">
              <thead>
              <tr>
                <th class="col-width"><%= t('views.estimates.code') %></th>
                <th><%= t('views.resources.tag') %></th>
                <th class="col-width"><%= t('views.resources.mu') %></th>
                <th class="col-width"><%= t('views.estimates.rate') %></th>
              </tr>
              </thead>
              <tbody>
              <tr class="font-bold" data-bind="visible: price.bom.workers_amount">
                <td>1</td>
                <td><%= t('views.estimates.elements.builders') %></td>
                <td><%= t('views.estimates.elements.mu.people') %></td>
                <td><input type="text"
                           data-bind="value: price.bom.workers_amount, disable: true">
                </td>
              </tr>
              <tr data-bind="visible: price.bom.avg_work_level">
                <td>1.1</td>
                <td><%= t('views.estimates.elements.rank') %></td>
                <td></td>
                <td><input type="text" id="rank"
                           data-bind="value: price.bom.avg_work_level, disable: true">
                </td>
              </tr>
              <tr class="font-bold" data-bind="visible: price.bom.drivers_amount">
                <td>2</td>
                <td><%= t('views.estimates.elements.machinist') %></td>
                <td><%= t('views.estimates.elements.mu.people') %></td>
                <td><input type="text"
                           data-bind="value: price.bom.drivers_amount, disable: true">
                </td>
              </tr>
              <tr class="font-bold" data-bind="visible: price.bom.machinery().length > 0">
                <td>3</td>
                <td><%= t('views.estimates.elements.machinery') %></td>
                <td></td>
                <td></td>
              </tr>
              <!-- ko foreach: price.bom.machinery -->
              <tr>
                <td>
                  <input type="text" data-bind="value: uid, disable: true">
                </td>
                <td>
                  <input type="text"
                         data-bind="value: tag, disable: true">
                </td>
                <td><%= t('views.estimates.elements.mu.machine') %></td>
                <td>
                  <input type="text" data-bind="value: amount, disable: true">
                </td>
              </tr>
              <!-- /ko -->
              <tr class="font-bold" data-bind="visible: price.bom.materials().length > 0">
                <td>4</td>
                <td><%= t('views.estimates.elements.resources') %></td>
                <td></td>
                <td></td>
              </tr>
              <!-- ko foreach: price.bom.materials -->
              <tr>
                <td><input type="text"
                           data-bind="value: uid, disable: true">
                </td>
                <td><input type="text"
                           data-bind="value: tag, disable: true">
                </td>
                <td><input type="text"
                           data-bind="value: mu, disable: true">
                </td>
                <td><input type="text"
                           data-bind="value: amount, disable: true">
                </td>
              </tr>
              <!-- /ko -->
              </tbody>
            </table>
          </td>
        </tr>
        <!-- /ko -->
      </tbody>
    </table>
    </div>
    <input type="button" value="<%= t('views.waybills.add') %>"
           data-bind="dialog: { autoOpen: false,
                                modal: true,
                                minWidth: 480,
                                minHeight: 300,
                                bind: { id: object.catalog.id, tag: object.catalog.tag }
                              },
                      dialogId: 'boms_selector',
                      disable: readonly() || !can_add_items()"/>
  </fieldset>
</form>

<%= render :partial => "home/select_dialog",
           :locals => { :dialog_id => 'catalogs_selector',
                        :dialog_model => 'dialog_catalogs',
                        :data_path => 'estimate/catalogs/catalogs' } %>

<%= render :partial => "home/select_dialog",
           :locals => { :dialog_id => 'boms_selector',
                        :dialog_model => 'dialog_boms',
                        :data_path => 'estimate/bo_ms/boms' } %>
