<% content_for :search  do %>
  <%= render 'filter'  %>
<% end %>

<div class='actions'>
  <ul class="view-nav">
    <li class="item">
      <a href="#waybills?view=table" id="table_view" class="button table-view"></a>
    </li>
    <li class="item">
      <a href="#waybills" id="tree_view" class="button tree-view pressed"></a>
    </li>
    <li class="item">
      <%= render partial: "state/filter" %>
    </li>
  </ul>
</div>

<table>
  <thead>
    <tr>
      <th>
      </th>
      <th id="created" data-bind="click: sortBy">
        <%=t 'views.waybills.created_at' %><span></span>
      </th>
      <th id="document_id" data-bind="click: sortBy">
        <%=t 'views.waybills.document_id' %><span></span>
      </th>
      <th id="distributor" data-bind="click: sortBy">
        <%=t 'views.waybills.distributor' %><span></span>
      </th>
      <% if can?(:reverse, Waybill) && can?(:reverse, Allocation) %>
      <th id="storekeeper" data-bind="click: sortBy">
        <%=t 'views.waybills.storekeeper' %><span></span>
      </th>
      <th id="storekeeper_place" data-bind="click: sortBy">
        <%=t 'views.waybills.storekeeper_place' %><span></span>
      </th>
      <% end %>
      <th id="sum" data-bind="click: sortBy">
        <%=t 'views.waybills.sum' %><span></span>
      </th>
      <th id="state" data-bind="click: sortBy">
        <%=t 'views.statable.state' %><span></span>
      </th>
    </tr>
  </thead>
  <tbody data-bind="foreach: documents">
    <tr>
      <td class="tree-actions" data-bind="click: $parent.expandTree">
        <div class="ui-corner-all ui-state-hover">
          <span class="ui-icon ui-icon-circle-plus"></span>
        </div>
      </td>
      <td data-bind="text: created, click: $parent.show"></td>
      <td data-bind="text: document_id, click: $parent.show"></td>
      <td data-bind="text: distributor, click: $parent.show"></td>
      <% if can?(:reverse, Waybill) && can?(:reverse, Allocation) %>
      <td data-bind="text: storekeeper, click: $parent.show"></td>
      <td data-bind="text: storekeeper_place, click: $parent.show"></td>
      <% end %>
      <td data-bind="text: sum, click: $parent.show"></td>
      <td data-bind="text: state, click: $parent.show"></td>
    </tr>
    <tr data-bind="attr: {id: 'resource_' + id}, with: subitems">
      <td></td>
      <td colspan="7" class="td-inner-table">
        <div class="paginate">
          <span data-bind="text: range"></span> <%= t('views.home.of') %>
          <span data-bind="text: count"></span>
          <input type="button" value="<" data-bind="click: prev, disable: page() < 2"/>
          <input type="button" class="paginate-right" value=">"
                 data-bind="click: next, disable: page()*per_page() >= count()"/>
        </div>
        <table class="inner-table">
          <thead>
            <tr>
              <th><%=t 'views.waybills.resource.tag' %></th>
              <th><%=t 'views.waybills.resource.mu' %></th>
              <th><%=t 'views.waybills.resource.amount' %></th>
              <th><%=t 'views.waybills.resource.price' %></th>
              <th><%=t 'views.waybills.resource.sum' %></th>
            </tr>
          </thead>
          <tbody data-bind="foreach: documents">
            <tr>
              <td data-bind="text: tag"></td>
              <td data-bind="text: mu"></td>
              <td data-bind="text: amount"></td>
              <td data-bind="text: price"></td>
              <td data-bind="text: sum"></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <% if can?(:reverse, Waybill) && can?(:reverse, Allocation) %>
      <td colspan="6">
      <% else %>
        <td colspan="4">
      <% end %>
        <%=t 'views.waybills.total' %>
      </td>
      <td data-bind="text: total"></td>
      <td></td>
    </tr>
  </tfoot>
</table>
