<form data-bind="validate: { success: save }">
  <div class='actions'>
    <input type='submit' value="<%= t 'views.waybills.save' %>"
           data-bind='visible: !readonly()'/>
    <input type='button' value="<%= t 'views.waybills.back' %>"
           data-bind='click: back'/>
    <input type='button' value="<%= t 'views.waybills.draft' %>"
           data-bind='visible: !readonly()'/>
  </div>

  <span id="page-title">
  <!-- ko if: readonly -->
    <%= t('views.waybills.page_title_show') %>
    <!-- /ko -->
  <!-- ko ifnot: readonly -->
    <%= t('views.waybills.page_title_new') %>
    <!-- /ko -->
  </span>

  <%= render 'home/errors' %>

  <fieldset>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="created"><%= t 'views.waybills.created_at' %>:</label>
        </span>
        <span>
          <input type="text" id="created" name="<%= t 'views.waybills.created_at' %>"
                 rule="required" data-bind="datepicker: waybill.created, disable: readonly">
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="waybill_document_id"><%= t 'views.waybills.document_id' %>:</label>
        </span>
        <span>
          <input type="text" id="waybill_document_id"
                 name="<%= t 'views.waybills.document_id' %>"
                 rule="required" data-bind="value: waybill.document_id, disable: readonly">
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t 'views.waybills.distributor' %></legend>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="waybill_entity"><%= t 'views.waybills.entity' %>:</label>
        </span>
        <span data-bind='with: waybill.distributor'>
          <input type='text' id='waybill_entity'
                 name='<%= t 'views.waybills.distributor' %>' rule='required'
                 data-bind="autocomplete: { source: '/legal_entities.json',
                                            value: 'name',
                                            bindId: $parent.waybill.distributor_id },
                            value: name, disable: $parent.readonly" />
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="waybill_ident_name"><%= t 'views.waybills.ident_name' %>:</label>
        </span>
        <span>
          <select id="waybill_ident_name" name="Distributor Ident. Name"
                  data-bind="value: waybill.distributor.identifier_name,
                             disable: readonly">
            <option value="MSRN"><%=t 'views.waybills.ident_name_MSRN' %></option>
            <option value="VATIN"><%=t 'views.waybills.ident_name_VATIN' %></option>
          </select>
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="waybill_ident_value"><%=t 'views.waybills.ident_value' %>:</label>
        </span>
        <span>
          <input id="waybill_ident_value" type="text"
                 data-field="identifier_value"
                 rule="required" name="<%=t 'views.waybills.ident_value' %>"
                 data-bind="value: waybill.distributor.identifier_value,
                            disable: readonly" />
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="distributor_place"><%= t 'views.waybills.place' %>:</label>
        </span>
        <span data-bind="with: waybill.distributor_place">
          <input type='text' id='distributor_place'
                 name='<%= t 'views.waybills.distributor_place' %>' rule='required'
                 data-bind="autocomplete: { source: '/places.json',
                                            value: 'tag',
                                            bindId: $parent.waybill.distributor_place_id },
                            value: tag, disable: $parent.readonly" />
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t 'views.waybills.storekeeper' %></legend>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="storekeeper_entity"><%=t 'views.waybills.entity' %>:</label>
        </span>
        <span data-bind='with: waybill.storekeeper'>
          <input type='text' id='storekeeper_entity'
                 name='<%= t 'views.waybills.storekeeper' %>' rule='required'
                 data-bind="autocomplete: { source: '/entities.json',
                                            value: 'tag',
                                            bindId: $parent.waybill.storekeeper_id },
                            value: tag, disable: $parent.disable_storekeeper" />
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="storekeeper_place"><%=t 'views.waybills.place' %>:</label>
        </span>
        <span data-bind='with: waybill.storekeeper_place'>
          <input type='text' id='storekeeper_place'
                 name='<%= t 'views.waybills.storekeeper_place' %>' rule='required'
                 data-bind="autocomplete: { source: '/places.json',
                                            value: 'tag',
                                            bindId: $parent.waybill.storekeeper_place_id },
                            value: tag, disable: $parent.disable_storekeeper" />
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset class="with-legend">
    <legend><%=t 'views.waybills.waybill_entry' %></legend>
    <input type="button" value="<%= t('views.waybills.add') %>"
           data-bind="click: addResource, disable: readonly"/>
    <table id="estimate_boms">
      <thead>
      <tr>
        <th class="waybill-entry-tag"><%=t 'views.waybills.entry_name' %></th>
        <th class="waybill-entry-mu"><%=t 'views.waybills.measure' %></th>
        <th class="waybill-entry-count"><%=t 'views.waybills.count' %></th>
        <th class="waybill-entry-price"><%=t 'views.waybills.price' %></th>
        <!-- ko ifnot: readonly -->
        <th class="estimate-boms-actions"></th>
        <!-- /ko -->
      </tr>
      </thead>
      <tbody data-bind="foreach: resources, elementValidate: resources">
      <tr data-bind="attr: { idx: $parent.resources.indexOf($data) }">
        <td>
          <input type="text" rule="required"
                 data-bind="value: tag, disable: $parent.readonly,
                            attr: { id: 'tag_' + $parent.resources.indexOf($data),
                                    name: '<%=t 'views.waybills.item' %>#' + $parent.resources.indexOf($data) + ' <%=t 'views.waybills.entry_name' %>'}" />
        </td>
        <td>
          <input type="text" rule="required"
                 data-bind="value: mu, disable: $parent.readonly,
                            attr: { id: 'mu_' + $parent.resources.indexOf($data),
                                    name: '<%=t 'views.waybills.item' %>#' + $parent.resources.indexOf($data) + ' <%=t 'views.waybills.measure' %>'}" />
        </td>
        <td>
          <input type="text" rule="required_num"
                 data-bind="value: amount, disable: $parent.readonly,
                            attr: { id: 'count_' + $parent.resources.indexOf($data),
                                    name: '<%=t 'views.waybills.item' %>#' + $parent.resources.indexOf($data) + ' <%=t 'views.waybills.count' %>'}"/>
        </td>
        <td>
          <input type="text" rule="required_num"
                 data-bind="value: price, disable: $parent.readonly,
                            attr: { id: 'price_' + $parent.resources.indexOf($data),
                                    name: '<%=t 'views.waybills.item' %>#' + $parent.resources.indexOf($data) + ' <%=t 'views.waybills.price' %>'}" />
        </td>
        <!-- ko ifnot: $parent.readonly -->
        <td class="estimate-boms-actions">
          <label data-bind="click: $parent.removeResource"></label>
        </td>
        <!-- /ko -->
      </tr>
      </tbody>
    </table>
    <input type="button" value="<%= t('views.waybills.add') %>"
           data-bind="click: addResource, disable: readonly"/>
  </fieldset>
</form>
