<form data-bind="validate: { success: save }">
  <div class='actions'>
    <input type='submit' value="<%= t 'views.waybills.save' %>"
           data-bind='visible: !readonly()'/>
    <input type='button' value="<%= t 'views.waybills.back' %>"
           data-bind='click: back'/>
    <input type='button' value="<%= t 'views.waybills.draft' %>"
           data-bind='visible: !readonly()'/>
    <div class='buttons-separator' data-bind='visible: readonly'></div>
    <input type='button' value="<%= t('views.waybills.apply') %>"
           data-bind='click: apply, visible: readonly && object.can_apply()'/>
    <input type='button' value="<%= t('views.waybills.cancel') %>"
           data-bind='click: cancel, visible: readonly && object.can_cancel()'/>
  </div>

  <span id="page-title">
  <!-- ko if: readonly -->
    <%= t('views.waybills.page_title_show') %>
    <!-- /ko -->
  <!-- ko ifnot: readonly -->
    <%= t('views.waybills.page_title_new') %>
    <!-- /ko -->
  </span>

  <%= render 'home/errors' %>

  <fieldset>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="created"><%= t 'views.waybills.created_at' %>:</label>
        </span>
        <span>
          <input type="text" id="created" name="<%= t 'views.waybills.created_at' %>"
                 rule="required" data-bind="datepicker: object.waybill.created,
                                            disable: readonly">
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="waybill_document_id"><%= t 'views.waybills.document_id' %>:</label>
        </span>
        <span>
          <input type="text" id="waybill_document_id"
                 name="<%= t 'views.waybills.document_id' %>"
                 rule="required" data-bind="value: object.waybill.document_id,
                                            disable: readonly">
        </span>
      </div>
      <!-- ko if: readonly -->
      <div>
        <span class="form-cell-label">
          <label for="state"><%= t 'views.statable.state' %>:</label>
        </span>
        <span>
          <input type="text" id="state" disabled="disabled"
                 data-bind="value: getState(object.waybill.state())">
        </span>
      </div>
      <!-- /ko -->
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t 'views.waybills.distributor' %></legend>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="waybill_entity"><%= t 'views.waybills.entity' %>:</label>
        </span>
        <span data-bind='with: object.distributor'>
          <input type='text' id='waybill_entity'
                 name='<%= t 'views.waybills.distributor' %>' rule='required'
                 data-bind="autocomplete: { source: '/legal_entities.json',
                                            value: 'name',
                                            bind: {
                                              id: $parent.object.waybill.distributor_id
                                            }},
                            value: name, disable: $parent.readonly" />
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="waybill_ident_name"><%= t 'views.waybills.ident_name' %>:</label>
        </span>
        <span>
          <select id="waybill_ident_name" name="Distributor Ident. Name"
                  data-bind="value: object.distributor.identifier_name,
                             disable: readonly">
            <option value="MSRN"><%=t 'views.waybills.ident_name_MSRN' %></option>
            <option value="VATIN"><%=t 'views.waybills.ident_name_VATIN' %></option>
          </select>
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="waybill_ident_value"><%=t 'views.waybills.ident_value' %>:</label>
        </span>
        <span>
          <input id="waybill_ident_value" type="text"
                 data-field="identifier_value"
                 rule="required" name="<%=t 'views.waybills.ident_value' %>"
                 data-bind="value: object.distributor.identifier_value,
                            disable: readonly" />
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="distributor_place"><%= t 'views.waybills.place' %>:</label>
        </span>
        <span data-bind="with: object.distributor_place">
          <input type='text' id='distributor_place'
                 name='<%= t 'views.waybills.distributor_place' %>' rule='required'
                 data-bind="autocomplete: {
                              source: '/places.json',
                              value: 'tag',
                              bind: { id: $parent.object.waybill.distributor_place_id }
                            }, value: tag, disable: $parent.readonly" />
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t 'views.waybills.warehouse.name' %></legend>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="warehouses"><%=t 'views.waybills.warehouse.name' %>:</label>
        </span>
        <span>
          <select id="warehouses" rule="required"
                  name="<%=t('views.waybills.warehouse.name')%>"
                  data-bind="options: object.warehouses,
                             optionsCaption: '<%= t('views.waybills.warehouse.select') %>',
                             optionsText: function(item) {
                               return item.tag() +
                                 '(<%= t('views.waybills.warehouse.storekeeper') %>: ' +
                                 item.storekeeper() + ')'
                             },
                             optionsValue: 'id',
                             value: object.waybill.warehouse_id,
                             disable: disable_warehouse"></select>
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset class="with-legend">
    <legend><%=t 'views.waybills.waybill_entry' %></legend>
    <input type="button" value="<%= t('views.waybills.add') %>"
           data-bind="click: addResource, disable: readonly"/>
    <table>
      <thead>
      <tr>
        <th class="waybill-entry-tag"><%=t 'views.waybills.entry_name' %></th>
        <th class="waybill-entry-mu"><%=t 'views.waybills.measure' %></th>
        <th class="waybill-entry-count"><%=t 'views.waybills.count' %></th>
        <th class="waybill-entry-price"><%=t 'views.waybills.price' %></th>
        <th class="waybill-entry-sum"><%=t 'views.waybills.sum' %></th>
        <!-- ko ifnot: readonly -->
        <th class="table-actions"></th>
        <!-- /ko -->
      </tr>
      </thead>
      <tbody data-bind="foreach: object.items, elementValidate: object.items">
      <tr data-bind="attr: { idx: $parent.object.items.indexOf($data) }">
        <td>
          <input type="text" rule="required"
                 data-bind="value: tag, disable: $parent.readonly,
                            attr: { id: 'tag_' + $parent.object.items.indexOf($data),
                                    name: '<%=t 'views.waybills.item' %>#' +
                                          $parent.object.items.indexOf($data) +
                                          ' <%=t 'views.waybills.entry_name' %>'}" />
        </td>
        <td>
          <input type="text" rule="required"
                 data-bind="value: mu, disable: $parent.readonly,
                            attr: { id: 'mu_' + $parent.object.items.indexOf($data),
                                    name: '<%=t 'views.waybills.item' %>#' +
                                    $parent.object.items.indexOf($data) +
                                    ' <%=t 'views.waybills.measure' %>'}" />
        </td>
        <td>
          <input type="text" rule="required_num"
                 data-bind="value: amount, disable: $parent.readonly,
                            attr: { id: 'count_' + $parent.object.items.indexOf($data),
                                    name: '<%=t 'views.waybills.item' %>#' +
                                    $parent.object.items.indexOf($data) +
                                    ' <%=t 'views.waybills.count' %>'}"/>
        </td>
        <td>
          <input type="text" rule="required_num"
                 data-bind="value: price, disable: $parent.readonly,
                            attr: { id: 'price_' + $parent.object.items.indexOf($data),
                                    name: '<%=t 'views.waybills.item' %>#' +
                                    $parent.object.items.indexOf($data) +
                                    ' <%=t 'views.waybills.price' %>'}" />
        </td>
        <td data-bind="text: sum"></td>
        <!-- ko ifnot: $parent.readonly -->
        <td class="table-actions">
          <label data-bind="click: $parent.removeResource"></label>
        </td>
        <!-- /ko -->
      </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2"><%=t 'views.waybills.total' %></td>
          <td data-bind="text: totalAmount"></td>
          <td></td>
          <td data-bind="text: totalSum"></td>
        </tr>
      </tfoot>
    </table>
    <input type="button" value="<%= t('views.waybills.add') %>"
           data-bind="click: addResource, disable: readonly"/>
  </fieldset>
</form>
