<form data-bind="validate: { success: save }">
  <div class='actions'>
    <input type='submit' value="<%= t 'views.waybills.save' %>"
           data-bind='visible: !readonly()'/>
    <input type='button' value="<%= t 'views.waybills.back' %>"
           data-bind='click: back'/>
    <input type='button' value="<%= t 'views.waybills.draft' %>"
           data-bind='visible: !readonly()'/>
  </div>

  <fieldset id="container_notification">
    <legend>Errors</legend>
    <ul></ul>
  </fieldset>

  <fieldset>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="created"><%= t 'views.waybills.created_at' %>:</label>
        </span>
        <span>
          <input type="text" id="created" name="Created" rule="required"
                 data-bind="datepicker: waybill.created, disable: readonly">
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="waybill_document_id"><%= t 'views.waybills.document_id' %>:</label>
        </span>
        <span>
          <input type="text" id="waybill_document_id" name="Document Id"
                 rule="required" data-bind="value: waybill.documentId, disable: readonly">
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t 'views.waybills.distributor' %></legend>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="waybill_entity"><%= t 'views.waybills.entity' %>:</label>
        </span>
        <span data-bind='with: waybill.distributor'>
          <input type='text' id='waybill_entity'
                 name='Distributor Entity' rule='required'
                 data-bind="autocomplete: { source: '/legal_entities.json',
                                            value: 'name',
                                            bindId: $parent.waybill.distributorId },
                            value: name, disable: $parent.readonly" />
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="waybill_ident_name"><%= t 'views.waybills.ident_name' %>:</label>
        </span>
        <span>
          <input type='text' id='waybill_ident_name'
                 name='Distributor Ident. Name' rule='required'
                 data-bind="value: waybill.distributor.identifier_name,
                            disable: readonly"/>
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="waybill_ident_value"><%=t 'views.waybills.ident_value' %>:</label>
        </span>
        <span>
          <input id="waybill_ident_value" type="text"
                 data-field="identifier_value"
                 rule="required" name="Distributor Ident. Value"
                 data-bind="value: waybill.distributor.identifier_value,
                            disable: readonly" />
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="distributor_place"><%= t 'views.waybills.place' %>:</label>
        </span>
        <span data-bind="with: waybill.distributorPlace">
          <input type='text' id='distributor_place'
                 name='Distributor Place' rule='required'
                 data-bind="autocomplete: { source: '/places.json',
                                            value: 'tag',
                                            bindId: $parent.waybill.distributorPlaceId },
                            value: tag, disable: $parent.readonly" />
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t 'views.waybills.storekeeper' %></legend>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="storekeeper_entity"><%=t 'views.waybills.entity' %>:</label>
        </span>
        <span data-bind='with: waybill.storekeeper'>
          <input type='text' id='storekeeper_entity'
                 name='Storekeeper Entity' rule='required'
                 data-bind="autocomplete: { source: '/entities.json',
                                            value: 'tag',
                                            bindId: $parent.waybill.storekeeperId },
                            value: tag, disable: $parent.readonly" />
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="storekeeper_place"><%=t 'views.waybills.place' %>:</label>
        </span>
        <span data-bind='with: waybill.storekeeperPlace'>
          <input type='text' id='storekeeper_place'
                 name='Storekeeper Place' rule='required'
                 data-bind="autocomplete: { source: '/places.json',
                                            value: 'tag',
                                            bindId: $parent.waybill.storekeeperPlaceId },
                            value: tag, disable: $parent.readonly" />
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset class="with-legend">
    <legend><%=t 'views.waybills.waybill_entry' %></legend>
    <input type="button" value="<%= t('views.waybills.add') %>"
           data-bind="click: addResource, disable: readonly"/>
    <table id="estimate_boms">
      <thead>
      <tr>
        <th class="waybill-entry-tag"><%=t 'views.waybills.entry_name' %></th>
        <th class="waybill-entry-mu"><%=t 'views.waybills.measure' %></th>
        <th class="waybill-entry-count"><%=t 'views.waybills.count' %></th>
        <th class="waybill-entry-price"><%=t 'views.waybills.price' %></th>
        <!-- ko ifnot: readonly -->
        <th class="estimate-boms-actions"></th>
        <!-- /ko -->
      </tr>
      </thead>
      <tbody data-bind="foreach: resources, elementValidate: resources">
      <tr data-bind="attr: { idx: $parent.resources.indexOf($data) }">
        <td>
          <input type="text" rule="required"
                 data-bind="value: tag, disable: $parent.readonly,
                            attr: { id: 'tag_' + $parent.resources.indexOf($data),
                                    name: 'Item#' + $parent.resources.indexOf($data) + ' Tag'}" />
        </td>
        <td>
          <input type="text" rule="required"
                 data-bind="value: mu, disable: $parent.readonly,
                            attr: { id: 'mu_' + $parent.resources.indexOf($data),
                                    name: 'Item#' + $parent.resources.indexOf($data) + ' MU'}" />
        </td>
        <td>
          <input type="text" rule="required_num"
                 data-bind="value: amount, disable: $parent.readonly,
                            attr: { id: 'count_' + $parent.resources.indexOf($data),
                                    name: 'Item#' + $parent.resources.indexOf($data) + ' Count'}"/>
        </td>
        <td>
          <input type="text" rule="required_num"
                 data-bind="value: price, disable: $parent.readonly,
                            attr: { id: 'price_' + $parent.resources.indexOf($data),
                                    name: 'Item#' + $parent.resources.indexOf($data) + ' Price'}" />
        </td>
        <!-- ko ifnot: $parent.readonly -->
        <td class="estimate-boms-actions">
          <label data-bind="click: $parent.removeResource"></label>
        </td>
        <!-- /ko -->
      </tr>
      </tbody>
    </table>
    <input type="button" value="<%= t('views.waybills.add') %>"
           data-bind="click: addResource, disable: readonly"/>
  </fieldset>
</form>
