<form data-bind="validate: { success: save }">
  <div class='actions'>
    <input type='submit' value="<%= t 'views.users.save' %>"
           data-bind='disable: readonly'/>
    <input type='button' value="<%= t 'views.users.back' %>"
           data-bind='click: back'/>
  </div>

  <span id="page-title">
    <!-- ko if: readonly -->
      <%= t('views.facts.page.title.show') %>
    <!-- /ko -->
    <!-- ko ifnot: readonly -->
      <%= t('views.facts.page.title.new') %>
    <!-- /ko -->
  </span>

  <%= render 'home/errors' %>

  <fieldset>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="fact_day"><%= t 'views.facts.day' %>:</label>
        </span>
        <span>
          <input type="text" id="fact_day" name="<%= t 'views.facts.day' %>" rule="required"
                 data-bind="datepicker: { value: object.fact.day, maxDate: '+0' },
                 disable: readonly">
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="fact_from_deal"><%= t('views.facts.from') %>:</label>
        </span>
        <span>
          <input type="text" id="fact_from_deal"
                 name="<%= t('views.facts.from') %>" rule="required"
                 data-bind="autocomplete: { source: '/deals.json',
                                            onlySelect: true,
                                            value: 'tag',
                                            bind: { id: object.fact.from_deal_id }
                                            },
                            value: object.from.tag, disable: readonly">
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="fact_to_deal"><%= t('views.facts.to') %>:</label>
        </span>
        <span>
          <input type="text" id="fact_to_deal"
                 name="<%= t('views.facts.to') %>" rule="required"
                 data-bind="autocomplete: { source: '/deals.json',
                                            onlySelect: true,
                                            value: 'tag',
                                            bind: { id: object.fact.to_deal_id }
                                            },
                            value: object.to.tag, disable: readonly">
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="fact_amount">
            <%= t('views.facts.amount') %>:
          </label>
        </span>
        <span>
          <input type="text" id="fact_amount"
                 name="<%= t('views.facts.amount') %>" rule="required"
                 data-bind="value: object.fact.amount, disable: readonly">
        </span>
      </div>
    </div>
  </fieldset>
</form>
