<div class='actions with-padding'>
  <input type="button"
         value="<%= t 'views.deals.report_on_selected' %>"
         id="report_on_selected"
         data-bind="click: toReport,  disable: selected().length == 0" />
</div>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th id="tag" data-bind="click: sortBy">
        <%= t 'views.deals.tag' %><span></span>
      </th>
      <th id="name" data-bind="click: sortBy">
        <%= t 'views.deals.entity' %><span></span>
      </th>
      <th id="give" data-bind="click: sortBy">
        <%= t 'views.deals.give.tag' %><span></span>
      </th>
      <th id="take" data-bind="click: sortBy">
        <%= t 'views.deals.take.tag' %><span></span>
      </th>
      <th id="rate" data-bind="click: sortBy">
        <%= t 'views.deals.rate' %><span></span>
      </th>
    </tr>
  </thead>
  <tbody data-bind="foreach: documents">
    <tr>
      <td>
        <input type="checkbox" data-bind="value: id, checked: $parent.selected">
      </td>
      <td class="tree-actions"
          data-bind="click: has_rules > 0 ? $parent.expandTree : null">
        <div class="ui-corner-all"
             data-bind="css: { 'ui-state-hover': has_rules > 0, 'ui-state-default': has_rules <= 0 }">
          <span class="ui-icon ui-icon-circle-plus"></span>
        </div>
      </td>
      <td data-bind="text: tag, click: $parent.show"></td>
      <td data-bind="text: entity_tag, click: $parent.show"></td>
      <td data-bind="text: give, click: $parent.show"></td>
      <td data-bind="text: take, click: $parent.show"></td>
      <td data-bind="text: rate, click: $parent.show"></td>
    </tr>
    <tr data-bind="attr: {id: 'rules_' + id}, with: subitems">
      <td></td>
      <td colspan="6" class="td-inner-table">
        <%= render :partial => "home/items_paginate" %>
        <table class="inner-table">
          <thead>
          <tr>
            <th><%=t 'views.rules.tag' %></th>
            <th><%=t 'views.rules.from' %></th>
            <th><%=t 'views.rules.to' %></th>
            <th><%=t 'views.rules.resource' %></th>
            <th><%=t 'views.rules.rate' %></th>
          </tr>
          </thead>
          <tbody data-bind="foreach: documents">
          <tr>
            <td data-bind="text: tag"></td>
            <td data-bind="text: from"></td>
            <td data-bind="text: to"></td>
            <td data-bind="text: resource"></td>
            <td data-bind="text: rate"></td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
