<table>
  <thead>
    <tr>
      <th><%= t 'views.deals.tag' %></th>
      <th><%= t 'views.deals.entity' %></th>
      <th><%= t 'views.deals.give' %></th>
      <th><%= t 'views.deals.take' %></th>
      <th><%= t 'views.deals.rate' %></th>
    </tr>
  </thead>
  <tbody data-bind="foreach: documents">
    <tr data-bind="click: $parent.toConditions">
      <td data-bind="text: tag, click: $parent.canSelect() ? $parent.select : null"></td>
      <td data-bind="text: entity_tag, click: $parent.canSelect() ? $parent.select : null"></td>
      <td data-bind="text: give, click: $parent.canSelect() ? $parent.select : null"></td>
      <td data-bind="text: take, click: $parent.canSelect() ? $parent.select : null"></td>
      <td data-bind="text: rate, click: $parent.canSelect() ? $parent.select : null"></td>
    </tr>
  </tbody>
</table>
