<form data-bind="validate: { success: save }">
  <div class='actions'>
    <%= render :partial => "home/buttons", :locals => { :editable => true } %>
  </div>

  <span id="page-title">
    <!-- ko if: readonly -->
      <%= t('views.deals.page.title.show') %>
    <!-- /ko -->
    <!-- ko ifnot: readonly -->
      <!-- ko if: id_presence -->
        <%= t('views.deals.page.title.edit') %>
      <!-- /ko -->
      <!-- ko ifnot: id_presence -->
        <%= t('views.deals.page.title.new') %>
      <!-- /ko -->
    <!-- /ko -->
  </span>

  <%= render 'home/errors' %>

  <fieldset>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="deal_tag"><%= t('views.deals.tag') %>:</label>
        </span>
        <span>
          <input type="text" id="deal_tag"
                 name="<%= t('views.deals.tag') %>" rule="required"
                 data-bind="value: object.deal.tag, disable: readonly">
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="deal_entity"><%= t 'views.deals.entity' %>:</label>
        </span>
        <span>
          <input type='text' id='deal_entity'
                 name='<%= t 'views.deals.entity' %>' rule='required'
                 data-bind="autocomplete: { source: 'entities/autocomplete.json',
                                            value: 'tag',
                                            onlySelect: true,
                                            bind: {
                                              id: object.deal.entity_id,
                                              type: object.deal.entity_type
                                            }}, value: object.entity.tag, disable: readonly"/>
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="is_off_balance"><%= t('views.deals.is_off_balance') %>:</label>
        </span>
        <span>
          <input type="checkbox" id="is_off_balance"
                 name="<%= t('views.deals.tag') %>"
                 data-bind="checked: object.deal.isOffBalance, disable: readonly">
        </span>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="deal_rate"><%= t('views.deals.rate') %>:</label>
        </span>
        <span>
          <input type="text" id="deal_rate"
                 name="<%= t('views.deals.rate') %>" rule='required'
                 data-bind="value: object.deal.rate, disable: readonly">
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t 'views.deals.give.tag' %></legend>
    <div>
      <div>
            <span class="form-cell-label">
              <label for="deal_give_resource"><%= t 'views.deals.give.resource' %>:</label>
            </span>
            <span>
              <input type='text' id='deal_give_resource'
                     name='<%= t 'views.deals.give.resource' %>' rule='required'
                     data-bind="autocomplete: {
                       source: 'resources.json',
                       value: 'tag',
                       onlySelect: true,
                       bind: {
                         id: object.give.resource_id,
                         type: object.give.resource_type
                       }
                     }, value: object.give.resource.tag, disable: readonly" />
            </span>
      </div>
      <div>
            <span class="form-cell-label">
              <label for="deal_give_place"><%= t 'views.deals.give.place' %>:</label>
            </span>
            <span>
              <input type='text' id='deal_give_place'
                     name='<%= t 'views.deals.give.place' %>' rule='required'
                     data-bind="autocomplete: {
                       source: 'places.json',
                       value: 'tag',
                       onlySelect: true,
                       bind: {
                         id: object.give.place_id
                       }
                     }, value: object.give.place.tag, disable: readonly" />
            </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t 'views.deals.take.tag' %></legend>
    <div>
      <div>
            <span class="form-cell-label">
              <label for="deal_take_resource"><%= t 'views.deals.take.resource' %>:</label>
            </span>
            <span>
              <input type='text' id='deal_take_resource'
                     name='<%= t 'views.deals.take.resource' %>' rule='required'
                     data-bind="autocomplete: {
                       source: 'resources.json',
                       value: 'tag',
                       onlySelect: true,
                       bind: {
                         id: object.take.resource_id,
                         type: object.take.resource_type
                       }
                     }, value: object.take.resource.tag, disable: readonly" />
            </span>
      </div>
      <div>
            <span class="form-cell-label">
              <label for="deal_take_place"><%= t 'views.deals.take.place' %>:</label>
            </span>
            <span>
              <input type='text' id='deal_take_place'
                     name='<%= t 'views.deals.take.place' %>' rule='required'
                     data-bind="autocomplete: {
                       source: 'places.json',
                       value: 'tag',
                       onlySelect: true,
                       bind: {
                         id: object.take.place_id
                       }
                     }, value: object.take.place.tag, disable: readonly" />
            </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t 'views.deals.limit' %></legend>
    <div>
      <div>
        <span>
          <label><%= t('views.deals.where') %>:</label>
        </span>
        <div>
          <input type="radio" id="limit_side_passive" name="limit_side" value="<%= Limit::PASSIVE %>"
                 data-bind="checked: object.deal.limit_attributes.side, disable: readonly" />
          <label for="limit_side_passive"><%= t('views.deals.limit_passive') %></label>
          <input type="radio" id="limit_side_active" name="limit_side" value="<%= Limit::ACTIVE %>"
                 data-bind="checked: object.deal.limit_attributes.side, disable: readonly" />
          <label for="limit_side_active"><%= t('views.deals.limit_active') %></label>
        </div>
      </div>
      <div>
        <span class="form-cell-label">
          <label for="deal_limit"><%= t('views.deals.limit') %>:</label>
        </span>
        <span>
          <input type="text" id="deal_limit"
                 name="<%= t('views.deals.limit') %>" rule='required'
                 data-bind="value: object.deal.limit_attributes.amount, disable: readonly">
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="execution_date"><%= t 'views.deals.execution_date' %>:</label>
        </span>
        <span>
          <input type="text" id="execution_date" name="<%= t 'views.deals.execution_date' %>"
                 data-bind="datepicker: { value: object.deal.execution_date, minDate: '+0'},
                            disable: readonly ">
        </span>
      </div>
      <div>
        <span class="form-cell-label">
            <label for="period"><%= t 'views.deals.compensation_period' %>:</label>
        </span>
        <span>
            <input type='text' id='period'
                   rule="dependency_required digits"
                   dependency_required="execution_date"
                   name='<%= t 'views.deals.compensation_period' %>'
                   data-bind="value: object.deal.compensation_period,
                              disable: period_enable()"  />
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset class="with-legend">
    <legend><%=t 'views.deals.rules' %></legend>
    <input type="button" value="<%= t('views.waybills.add') %>"
           data-bind="click: addRule, disable: readonly"/>
    <table>
      <thead>
      <tr>
        <th><%=t 'views.rules.from' %></th>
        <th><%=t 'views.rules.to' %></th>
        <th><%=t 'views.rules.rate' %></th>
        <th><%=t 'views.rules.fact_side' %></th>
        <th><%=t 'views.rules.change_side' %></th>
        <!-- ko ifnot: readonly -->
        <th class="table-actions"></th>
        <!-- /ko -->
      </tr>
      </thead>
      <tbody data-bind="foreach: object.rules, elementValidate: object.rules">
          <tr data-bind="attr: { idx: $parent.object.rules.indexOf($data),
                                 name: '<%=t 'views.deals.rules' %>' }">
            <td>
              <input type="text" rule="required"
                     data-bind="disable: $parent.readonly,
                                autocomplete: {
                                    source: 'deals.json',
                                    value: 'tag',
                                    onlySelect: true,
                                    bind: {
                                      id: from_id
                                    }
                                }, value: from.tag,
                                attr: { id: 'rule_from_tag_' + $parent.object.rules.indexOf($data),
                                        name: '<%=t 'views.deals.rules' %>#' +
                                              $parent.object.rules.indexOf($data) +
                                              ' <%=t 'views.rules.from' %>'}" />
            </td>
            <td>
              <input type="text" rule="required"
                     data-bind="disable: $parent.readonly,
                                autocomplete: {
                                    source: 'deals.json',
                                    value: 'tag',
                                    onlySelect: true,
                                    bind: {
                                      id: to_id
                                    }
                                }, value: to.tag,
                                attr: { id: 'rule_to_tag_' + $parent.object.rules.indexOf($data),
                                        name: '<%=t 'views.deals.rules' %>#' +
                                        $parent.object.rules.indexOf($data) +
                                        ' <%=t 'views.rules.to' %>'}" />
            </td>
            <td>
              <input type="text" rule="required_num"
                     data-bind="value: rate, disable: $parent.readonly,
                                attr: { id: 'rule_rate_' + $parent.object.rules.indexOf($data),
                                        name: '<%=t 'views.deals.rules' %>#' +
                                        $parent.object.rules.indexOf($data) +
                                        ' <%=t 'views.rules.rate' %>'}"/>
            </td>
            <td>
              <input type="checkbox"
                     data-bind="checked: fact_side, disable: $parent.readonly,
                                attr: { id: 'fact_side_' + $parent.object.rules.indexOf($data),
                                        name: '<%=t 'views.deals.rules' %>#' +
                                        $parent.object.rules.indexOf($data) +
                                        ' <%=t 'views.rules.fact_side' %>'}" />
            </td>
            <td>
              <input type="checkbox"
                     data-bind="checked: change_side, disable: $parent.readonly,
                                attr: { id: 'change_side_' + $parent.object.rules.indexOf($data),
                                        name: '<%=t 'views.deals.rules' %>#' +
                                        $parent.object.rules.indexOf($data) +
                                        ' <%=t 'views.rules.change_side' %>'}" />
            </td>
            <!-- ko ifnot: $parent.readonly -->
            <td class="table-actions">
              <label data-bind="click: $parent.removeRule"></label>
            </td>
            <!-- /ko -->
          </tr>
      </tbody>
    </table>
    <input type="button" value="<%= t('views.waybills.add') %>"
           data-bind="click: addRule, disable: readonly"/>
  </fieldset>
</form>
