<% content_for :search  do %>
  <label><%=t 'views.balance_sheet.resource' %></label>
  <input type="text" id="filter-resource" data-bind="value: filter.resource"/>
  <label><%=t 'views.balance_sheet.place' %></label>
  <input type="text" id="filter-place" data-bind="value: filter.place"/>
  <label><%=t 'views.balance_sheet.entity' %></label>
  <input type="text" id="filter-entity" data-bind="value: filter.entity"/>
<% end %>

<div class='actions with-padding'>
  <input type='button' value="<%= t 'views.balance_sheet.report_on_selected' %>"
         data-bind="click: reportOnSelected, disable: !selected()"/>
  <select id="balance_sheet_group" size="1" data-bind="value: group_by">
    <option value=""><%=t 'views.balance_sheet.group_none' %></option>
    <option value="place"><%=t 'views.balance_sheet.group_place' %></option>
    <option value="resource"><%=t 'views.balance_sheet.group_resource' %></option>
    <option value="entity"><%=t 'views.balance_sheet.group_entity' %></option>
  </select>
</div>
<div class="left">
  <label for="balance_date_start"><%= t 'views.balance_sheet.date' %>:</label>
  <input type="text" id="balance_date_start"
         data-bind="datepicker: balances_date, event: {change: filterData}">
</div>
<div class="left">
  <span><%= t 'views.balance_sheet.mu' %>:</span>
  <input type="radio" id="natural_mu" name="mu" value="natural"
         data-bind="checked: mu"><label for="natural_mu">
  <%= t 'views.balance_sheet.natural' %></label>
  <input type="radio" id="currency_mu" name="mu" value="currency"
         data-bind="checked: mu"><label for="currency_mu">
  <%= t 'views.balance_sheet.currency' %></label>
</div>
<div class="clear"></div>
<table>
  <thead>
    <tr>
      <th class="cell-checkbox"></th>
      <th class=""><%=t 'views.balance_sheet.deal'%></th>
      <th class=""><%=t 'views.balance_sheet.entity'%></th>
      <th class=""><%=t 'views.balance_sheet.resource'%></th>
      <th class=""><%=t 'views.balance_sheet.place'%></th>
      <th class=""><%=t 'views.balance_sheet.debit'%></th>
      <th class=""><%=t 'views.balance_sheet.credit'%></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="5"><%=t 'views.balance_sheet.total'%>:</td>
      <td data-bind="text: total_debit"></td>
      <td data-bind="text: total_credit"></td>
    </tr>
  </tfoot>
  <tbody data-bind="foreach: documents">
    <tr>
      <td class="cell-checkbox">
        <input type="checkbox" data-bind="click: $parent.selectBalance,
                                          attr: {id: 'balance_' + deal_id}"/></td>
      <td data-bind="text: tag"></td>
      <td data-bind="text: entity"></td>
      <td data-bind="text: resource"></td>
      <td data-bind="text: place"></td>
      <td data-bind=
            "text: type == 'debit' ? ($parent.mu() == 'natural' ? amount : value) : ''"></td>
      <td data-bind=
            "text: type == 'credit' ? ($parent.mu() == 'natural' ? amount : value) : ''"></td>
    </tr>
  </tbody>
</table>
