<div class="left">
  <label for="balance_date_start"><%= t 'views.balance_sheet.date' %>:</label>
  <input type="text" id="balance_date_start"
         data-bind="datepicker: balances_date, event: {change: filter}">
</div>
<div class="left">
  <span><%= t 'views.balance_sheet.mu' %>:</span>
  <input type="radio" id="natural_mu" name="mu" value="natural"
         data-bind="checked: mu"><label for="natural_mu">
  <%= t 'views.balance_sheet.natural' %></label>
  <input type="radio" id="currency_mu" name="mu" value="currency"
         data-bind="checked: mu"><label for="currency_mu">
  <%= t 'views.balance_sheet.currency' %></label>
</div>
<table>
  <thead>
    <tr>
      <th class=""><%=t 'views.balance_sheet.deal'%></th>
      <th class=""><%=t 'views.balance_sheet.entity'%></th>
      <th class=""><%=t 'views.balance_sheet.resource'%></th>
      <th class=""><%=t 'views.balance_sheet.debit'%></th>
      <th class=""><%=t 'views.balance_sheet.credit'%></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="3"><%=t 'views.balance_sheet.total'%>:</td>
      <td data-bind="text: total_debit"></td>
      <td data-bind="text: total_credit"></td>
    </tr>
  </tfoot>
  <tbody data-bind="foreach: documents">
    <tr>
      <td data-bind="text: tag"></td>
      <td data-bind="text: entity"></td>
      <td data-bind="text: resource"></td>
      <td data-bind=
            "text: type == 'debit' ? ($parent.mu() == 'natural' ? amount : value) : ''"></td>
      <td data-bind=
            "text: type == 'credit' ? ($parent.mu() == 'natural' ? amount : value) : ''"></td>
    </tr>
  </tbody>
</table>
