<table>
  <thead>
    <tr>
      <th class=""><%=t 'views.balance_sheet.deal'%></th>
      <th class=""><%=t 'views.balance_sheet.entity'%></th>
      <th class=""><%=t 'views.balance_sheet.resource'%></th>
      <th class=""><%=t 'views.balance_sheet.debit'%></th>
      <th class=""><%=t 'views.balance_sheet.credit'%></th>
    </tr>
  </thead>
  <tbody data-bind="foreach: documents">
    <tr>
      <td data-bind="text: tag"></td>
      <td data-bind="text: entity"></td>
      <td data-bind="text: resource"></td>
      <td data-bind="text: debit"></td>
      <td data-bind="text: credit"></td>
    </tr>
  </tbody>
</table>
