
<div class='actions'>
  <% if current_user.root? || current_user.managed_group %>
    <select id="warehouse_filter" size="1"
            data-bind="options: warehouses, optionsText: 'tag', optionsValue: 'place_id',
                       optionsCaption: '<%= t 'views.warehouses.filter.select.warehouse' %>',
                       value: warehouse_id, event: {change: assignForemen}">
    </select>
  <% end %>
  <label for="foremen_filter_from">
    <%= t 'views.warehouses.foremen.report.dates.from' %>:
  </label>
  <input type="text" id="foremen_filter_from" style="width: 80px;"
         data-bind="datepicker:{ value: from, maxDate: '+0' }, event: {change: filterData}">
  <label for="foremen_filter_to">
    <%= t 'views.warehouses.foremen.report.dates.to' %>:
  </label>
  <input type="text" id="foremen_filter_to" style="width: 80px;"
        data-bind="datepicker:{ value: to, maxDate: '+0' }, event: {change: filterData}">
  <div data-bind="slider: { pressed: 'print_btn', slidearea: 'print-menu' }, slidemenu: {},
                            visible: foremen().length > 0">
    <div id="print_btn" class="button">
      <div class="data print"></div>
      <div class="data arrow_down"></div>
    </div>
    <ul id="print-menu">
      <li>
        <a data-bind='click: function() { print(true, false); }'>
          <%= t('views.warehouses.report.print_all') %>
        </a>
      </li>
      <li data-bind="visible: documents().length > 0">
        <a data-bind='click: function() { print(false, false); }'>
          <%= t('views.warehouses.report.print') %>
        </a>
      </li>
      <li data-bind="visible: print_visibility">
        <a data-bind="click: function() { print(true, true); }">
          <%= t('views.warehouses.report.print_check_all') %>
        </a>
      </li>
      <li data-bind="visible: resources.hasKey(foreman_id()) &&
                              resources.get(foreman_id())().length != 0">
        <a data-bind="click: function() { print(false, true); }">
          <%= t('views.warehouses.report.print_check') %>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- ko if: foremen().length != 0 -->
<div id="foremen_tabs" data-bind="jqTabs: { current: 0, headers: foremen,
                                            tabSelect: filterData,
                                            scrollable: true },
                                  value: foreman_id">
  <div>
    <ul id="head">
    </ul>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th><%=t 'views.warehouses.foremen.report.resource.name' %></th>
      <th><%=t 'views.warehouses.foremen.report.resource.mu' %></th>
      <th><%=t 'views.warehouses.foremen.report.amount' %></th>
      <th><%=t 'views.warehouses.foremen.report.price' %></th>
      <th><%=t 'views.warehouses.foremen.report.sum' %></th>
    </tr>
  </thead>
  <tbody data-bind="foreach: documents">
    <tr>
      <td><input type="checkbox" data-bind="value: id, checked: $parent.resources.get($parent.foreman_id())" /></td>
      <td data-bind="text: tag"></td>
      <td data-bind="text: mu"></td>
      <td data-bind="text: amount"></td>
      <td data-bind="text: price"></td>
      <td data-bind="text: sum"></td>
    </tr>
  </tbody>
</table>
<!-- /ko -->
