<div id="filter-area" class="filter-area">
  <label><%=t 'views.warehouses.place' %></label>
  <input type="text" id="filter-place" data-bind="value: filter.place"/>
  <label><%=t 'views.warehouses.tag' %></label>
  <input type="text" id="filter-tag" data-bind="value: filter.tag"/>
  <label><%=t 'views.warehouses.real_amount' %></label>
  <input type="text" id="filter-real-amount" data-bind="value: filter.real_amount"/>
  <label><%=t 'views.warehouses.expectation_amount' %></label>
  <input type="text" id="filter-exp-amount" data-bind="value: filter.exp_amount"/>
  <label><%=t 'views.warehouses.mu' %></label>
  <input type="text" id="filter-mu" data-bind="value: filter.mu"/>
  <input type="button" value="<%=t 'views.home.search' %>"
         data-bind="click: filterData"/>
</div>

<% if current_user.root? %>
  <div class='actions'>
    <select id="warehouse_group" size="1"
            data-bind="value: group_by">
      <option value=""><%=t 'views.warehouses.group_none' %></option>
      <option value="place"><%=t 'views.warehouses.group_place' %></option>
      <option value="tag"><%=t 'views.warehouses.group_tag' %></option>
    </select>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th class="warehouse-place"><%=t 'views.warehouses.place' %></th>
      <th class="warehouse-tag"><%=t 'views.warehouses.tag' %></th>
      <th class="warehouse-mu"><%=t 'views.warehouses.mu' %></th>
      <th class="warehouse-rel-amount"><%=t 'views.warehouses.real_amount' %></th>
      <th class="warehouse-exp-amount"><%=t 'views.warehouses.expectation_amount' %></th>
    </tr>
  </thead>
  <tbody data-bind="foreach: documents">
    <tr>
      <td data-bind="text: place"></td>
      <td data-bind="text: tag"></td>
      <td data-bind="text: mu"></td>
      <td data-bind="text: real_amount"></td>
      <td data-bind="text: exp_amount"></td>
    </tr>
  </tbody>
</table>
