<% content_for :search  do %>
  <% if can?(:reverse, Waybill) && can?(:reverse, Allocation) %>
  <label><%=t 'views.warehouses.place' %></label>
  <input type="text" id="filter-place" data-bind="value: filter.place"/>
  <% end %>
  <label><%=t 'views.warehouses.tag' %></label>
  <input type="text" id="filter-tag" data-bind="value: filter.tag"/>
  <label><%=t 'views.warehouses.mu' %></label>
  <input type="text" id="filter-mu" data-bind="value: filter.mu"/>
  <label><%=t 'views.warehouses.real_amount' %></label>
  <input type="text" id="filter-real-amount" data-bind="value: filter.real_amount"/>
<% end %>

<div class='actions'>
  <% if can?(:reverse, Waybill) && can?(:reverse, Allocation) %>
  <select id="warehouse_group" size="1" data-bind="value: group_by">
    <option value=""><%=t 'views.warehouses.group_none' %></option>
    <option value="place"><%=t 'views.warehouses.group_place' %></option>
    <option value="tag"><%=t 'views.warehouses.group_tag' %></option>
  </select>
  <% end %>
  <div class='buttons-separator'></div>
  <input type='button' value="<%= t('views.warehouses.foremen.report.print') %>"
         data-bind='click: print, visible: documents().length > 0'/>
</div>

<table>
  <thead>
    <tr>
      <% if can?(:reverse, Waybill) && can?(:reverse, Allocation) %>
        <th id="place" class="warehouse-place" data-bind="click: sortBy">
          <%=t 'views.warehouses.place' %><span></span>
        </th>
      <% end %>
      <th id="tag" class="warehouse-tag" data-bind="click: sortBy">
        <%=t 'views.warehouses.tag' %><span></span>
      </th>
      <th id="mu" class="warehouse-mu" data-bind="click: sortBy">
        <%=t 'views.warehouses.mu' %><span></span>
      </th>
      <th id="real_amount" class="warehouse-rel-amount" data-bind="click: sortBy">
        <%=t 'views.warehouses.real_amount' %><span></span>
      </th>
    </tr>
  </thead>
  <tbody data-bind="foreach: documents">
    <tr data-bind="click: $parent.showReport">
      <% if can?(:reverse, Waybill) && can?(:reverse, Allocation) %>
        <td data-bind="text: place"></td>
      <% end %>
      <td data-bind="text: tag"></td>
      <td data-bind="text: mu"></td>
      <td data-bind="text: real_amount"></td>
    </tr>
  </tbody>
</table>
