<% content_for :search  do %>
  <label><%=t 'views.warehouses.place' %></label>
  <input type="text" id="filter-place" data-bind="value: filter.place"/>
  <label><%=t 'views.warehouses.tag' %></label>
  <input type="text" id="filter-tag" data-bind="value: filter.tag"/>
  <label><%=t 'views.warehouses.real_amount' %></label>
  <input type="text" id="filter-real-amount" data-bind="value: filter.real_amount"/>
  <label><%=t 'views.warehouses.expectation_amount' %></label>
  <input type="text" id="filter-exp-amount" data-bind="value: filter.exp_amount"/>
  <label><%=t 'views.warehouses.mu' %></label>
  <input type="text" id="filter-mu" data-bind="value: filter.mu"/>
<% end %>

<% if current_user.root? || (can?(:group_read, Waybill) && can?(:group_read, Allocation)) %>
  <div class='actions'>
    <select id="warehouse_group" size="1" data-bind="value: group_by">
      <option value=""><%=t 'views.warehouses.group_none' %></option>
      <option value="place"><%=t 'views.warehouses.group_place' %></option>
      <option value="tag"><%=t 'views.warehouses.group_tag' %></option>
    </select>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th id="place" class="warehouse-place" data-bind="click: sortBy">
        <%=t 'views.warehouses.place' %><span></span>
      </th>
      <th id="tag" class="warehouse-tag" data-bind="click: sortBy">
        <%=t 'views.warehouses.tag' %><span></span>
      </th>
      <th id="mu" class="warehouse-mu" data-bind="click: sortBy">
        <%=t 'views.warehouses.mu' %><span></span>
      </th>
      <th id="real_amount" class="warehouse-rel-amount" data-bind="click: sortBy">
        <%=t 'views.warehouses.real_amount' %><span></span>
      </th>
      <th id="exp_amount" class="warehouse-exp-amount"
          data-bind="click: sortBy">
        <%=t 'views.warehouses.expectation_amount' %><span></span>
      </th>
    </tr>
  </thead>
  <tbody data-bind="foreach: documents">
    <tr>
      <td data-bind="text: place"></td>
      <td data-bind="text: tag"></td>
      <td data-bind="text: mu"></td>
      <td data-bind="text: real_amount"></td>
      <td data-bind="text: exp_amount"></td>
    </tr>
  </tbody>
</table>
