<div class='actions'>
  <% if current_user.root? || current_user.managed_group %>
    <select id="warehouse_filter" size="1"
            data-bind="options: warehouses, optionsText: 'tag', optionsValue: 'place_id',
                       optionsCaption: '<%= t 'views.warehouses.filter.select.warehouse' %>',
                       value: warehouse_id, event: {change: filterData}">
    </select>
  <% end %>
  <input type='button' value="<%= t 'views.warehouses.filter.select.asset' %>"
         data-bind="click: openDialog.bind($data, 'resources_selector')"/>
  <input type='button' value="<%= t('views.warehouses.report.print') %>"
         data-bind='click: print, visible: documents().length > 0'/>
</div>

<div id="resources_selector" class="dialog"
     data-bind="dialog: { autoOpen: false, modal: true, minWidth: 480, minHeight: 300 }, with: dialog">

  <table>
    <caption>
      <div class="table-mode">
        <input type="text" id='dialog_search' data-bind="value: filter.tag"/>
        <input type="button" value="<%= t('views.home.search') %>" data-bind="click: filterData"/>
      </div>
      <div class="paginate">
        <span data-bind="text: range"></span> <%= t('views.home.of') %>
        <span data-bind="text: count"></span>
        <input type="button" value="<" data-bind="click: prev, disable: page() < 2"/>
        <input type="button" class="paginate-right" value=">"
               data-bind="click: next, disable: page()*per_page() >= count()"/>
      </div>
    </caption>
    <thead>
    <tr>
      <th><%= t 'views.resources.tag' %></th>
      <th><%= t 'views.resources.mu' %></th>
    </tr>
    </thead>
    <tbody data-bind="foreach: documents">
    <tr data-bind="click: $root.select">
      <td data-bind="text: tag"></td>
      <td data-bind="text: mu"></td>
    </tr>
    </tbody>
  </table>
</div>

<table>
  <thead>
    <tr>
      <td><%=t 'views.warehouses.tag' %></td>
      <td colspan="6" data-bind="text: resource.tag"></td>
    </tr>
    <tr>
      <td><%=t 'views.warehouses.mu' %></td>
      <td colspan="6" data-bind="text: resource.mu"></td>
    </tr>
    <tr>
      <td><%=t 'views.warehouses.place' %></td>
      <td colspan="6" data-bind="text: place.tag"></td>
    </tr>
    <tr>
      <th><%=t 'views.warehouses.resource.report.date' %></th>
      <th><%=t 'views.warehouses.resource.report.income' %></th>
      <th><%=t 'views.warehouses.resource.report.document_id' %></th>
      <th><%=t 'views.warehouses.resource.report.amount' %></th>
      <th><%=t 'views.warehouses.resource.report.consumption' %></th>
      <th><%=t 'views.warehouses.resource.report.amount' %></th>
      <th><%=t 'views.warehouses.resource.report.state' %></th>
    </tr>
  </thead>
  <tbody data-bind="foreach: documents">
  <!-- ko if: side == '<%= WarehouseResourceReport::WAYBILL_SIDE %>' -->
    <tr data-bind="click: $parent.showWaybill">
      <td data-bind="text: date"></td>
      <td data-bind="text: name"></td>
      <td data-bind="text: document_id"></td>
      <td data-bind="text: amount"></td>
      <td></td>
      <td></td>
      <td data-bind="text: state"></td>
    </tr>
  <!-- /ko -->
  <!-- ko if: side == '<%= WarehouseResourceReport::ALLOCATION_SIDE %>' -->
    <tr data-bind="click: $parent.showAllocation">
      <td data-bind="text: date"></td>
      <td></td>
      <td></td>
      <td></td>
      <td data-bind="text: name"></td>
      <td data-bind="text: amount"></td>
      <td data-bind="text: state"></td>
    </tr>
  <!-- /ko -->
  </tbody>
  <tfoot>
    <tr>
      <td><%=t 'views.warehouses.resource.report.total' %></td>
      <td colspan="5"></td>
      <td data-bind="text: total"></td>
    </tr>
  </tfoot>
</table>
