<form data-bind="validate: { success: save }">
  <div class='actions'>
    <%= render :partial => "home/buttons", :locals => { :editable => true } %>
  </div>

  <span id="page-title">
    <!-- ko if: readonly -->
      <%= t('views.places.page.title.show') %>
    <!-- /ko -->
    <!-- ko ifnot: readonly -->
      <!-- ko if: id_presence -->
        <%= t('views.places.page.title.edit') %>
      <!-- /ko -->
      <!-- ko ifnot: id_presence -->
        <%= t('views.places.page.title.new') %>
      <!-- /ko -->
    <!-- /ko -->
  </span>

  <%= render 'home/errors' %>

  <fieldset>
    <div>
      <div>
        <span class="form-cell-label">
          <label for="place_tag"><%= t('views.places.tag') %>:</label>
        </span>
        <span>
          <input type="text" id="place_tag"
                 name="<%= t('views.places.tag') %>" rule="required"
                 data-bind="value: object.place.tag, disable: readonly">
        </span>
      </div>
    </div>
  </fieldset>
</form>
