<%= yield %>

<div class="comments" data-bind="if: object.id">
  <fieldset>
    <legend><%= t 'layouts.comments.comments' %></legend>

    <!-- ko foreach: messages -->
    <fieldset>
      <legend data-bind="text: user + ' <%= t 'layouts.comments.at' %> ' + at" ></legend>
      <span data-bind="text: message"></span>
    </fieldset>
    <!-- /ko -->

    <% if current_user.root? %>
      <span><%= t 'layouts.comments.denied' %></span>
    <% else %>
      <textarea id="message" rows="5" data-bind="value: message"></textarea>
      <input type="button" value="<%= t('layouts.comments.save') %>"
             data-bind="click: saveComment"/>
    <% end %>
  </fieldset>
</div>
